input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 5;
    font-size: 20px;
}

b {
    font-size: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    z-index: 5;
    margin-bottom: 10px;
    font-size: 20px;
}

button:hover {
    opacity: 0.8;
    z-index: 5;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    z-index: 5;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    z-index: 5;
}

.div_form_login, .container_cancel {
    padding: 20px;
    padding-top: 0px;
    z-index: 5;
}

.container_cancel {
    float: right;
    width: 100%;
    padding: 0px;
}

.cancelbtn {
    width: auto;
    background-color: #f44336;
    z-index: 5;
    float: right;
    overflow: hidden;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: -20px;
}

span.psw {
    float: right;
    padding-top: 16px;
    z-index: 5;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
    z-index: 5;
}

.modal-content {
    background-color: #fefefe;
    margin: 1% auto 1% auto;
    border: 1px solid #888;
    width: 50%;
    z-index: 5;
    border-radius: 10px;
}

#div_container {
    width: 100%;
    margin: auto;
}

#div_container_1 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-size: 20px;
}

#div_container_2 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-size: 20px;
}

#a_container {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#a_container:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
    z-index: 5;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}