body {
    margin: 0px;
    overflow-y: scroll;
    background: rgb(16, 16, 16);
    height: 100vh;
    font-family: Arial, sans-serif;
    outline: none !important;
}

html {
    height: 100vh;
    font-family: Arial, sans-serif;
}