#top_menuDiv {
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font: 200% serif;
    margin: 0px;
    padding: 0px;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 3;
    overflow: hidden;
    background: #FDB913;
}

#title_div {
    width: 400px;
    float: left;
    z-index: 1;
    transform: skewX(10deg);
    background: white;
    height: 75px;
    margin-left: -10px;
}

#all_navigator_div {
    width: calc(100% - 400px);
    float: left;
}

.navigator_div {
    width: 90px;
    height: 47px;
    max-height: 75px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
    transform: skewX(10deg);
}

#navigator_div4 {
    float: right;
    width: 190px;
    height: 57px;
    max-height: 75px;
    padding-top: 15px;
    box-sizing: content-box;
    visibility: hidden;
}

#navigator_div5 {
    float: right;
    width: 180px;
    height: 57px;
    max-height: 75px;
    padding-top: 15px;
    background: white;
    transform: skewX(-10deg);
    margin-right: -20px;
}

#div_links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 18px;
    color: #2A5885;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0px;
    float: right;
}
