body {
    background: green;
    overflow: scroll;
    background: white;
    margin: 0px;
}

.title_div {
   width: 20%;
   height: 60x;
   float:left;
}

#all_navigator_div {
   width: 80%;
   float: left;
}

p.heading {
   margin: 0px;
   padding-left: 10px;
   padding-top: 10px;
   text-align: left;
   font-size: 40px;
   color: white;
}

.navigator_p {
   font-size: 20px;
   margin: 0px;
   text-align: center;
   color: white;
}

.navigator_div {
   width: 90px;
   float: left;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 25px;
   padding-bottom: 3px;
   cursor: pointer;
}

#navigator_div4 {
   float: right;
   width: 180px;
   padding-top: 15px;
}

.navigator_div:hover {
   background: rgb(237, 238, 240);
}

#top_menuDiv {
   top: 0px;
   left: 0px;
   z-index: 101;
   text-align: center;
   font: 200% serif;
   background: black;
   margin: 0px;
   padding: 0px;
}

.user_avatar_navigator {
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
    float: left;
}