#main_div_categories {
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
}

#categories {
    width: 100%;
    margin-top: 20px;
    background: rgb(220, 220, 220);
    border-radius: 4px;
    overflow: hidden;
}

#categoriesImg {
    float: left;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#categoriesName {
    font-weight: bold;
    font-size: 24px;
    margin-left: 3%;
    margin-top: 2.5%;
}

#categoriesDescription {
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 2.5%;
}

#playCategory {
    text-decoration: none;
    color: black;
}