@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(/static/fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

body{
    margin: 0px;
    overflow-y: scroll;
    font-family: Roboto, serif;
    background: gray;
    background: url('/static/img/icons/background.jpg');
    height: 100vh;
}

html {
    height: 100vh;
}

#title_div {
    width: 400px;
    float: left;
}

#all_navigator_div {
    width: 50%;
    float: left;
}

#heading {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 28px;
    color: white;
}

.navigator_p {
    font-size: 20px;
    margin: 0px;
    text-align: center;
    vertical-align: bottom;
    color: white;
}

.navigator_div {
    width: 90px;
    height: 47px;
    max-height: 75px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

#navigator_div4 {
    float: right;
    width: 190px;
    height: 57px;
    max-height: 75px;
    padding-top: 15px;
    box-sizing: content-box;
    visibility: hidden;
}

.navigator_div:hover {
    background-color: rgb(237, 238, 240);
}

.navigator_div:hover p{
    color: #000;
}

#navigator_div5 {
    float: right;
    width: 180px;
    height: 57px;
    max-height: 75px;
    padding-top: 15px;
}

#top_menuDiv {
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font: 200% serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    font-family: "Verdana", serif;
    background: rgba(50, 50, 50, 0.8);
}

#user_avatar_navigator {
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
    float: left;
}

#user_nickname_p {
    padding-top: 10px;
    text-align: center;
}

#footer_logo {
    float: left;
}

#div_links {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 18px;
    color: #2A5885;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0px;
    float: right;
}

#vk_line {
    width: 70%;
    height: 2px;
    background-color: gray;
    opacity: 40%;
    margin-top: 15px;
    margin-left: 15%;
    border-radius: 5px;
}

#vk_button_join {
    width: 70%;
    background-color: #4A76A8;
    margin-left: 15%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
}

#vk_a_join {
    text-decoration: none;
    color: white;
}

#main {
    overflow: hidden;
}

#content {
    padding: 0px;
    margin: 0px;
    margin-top: 101px;
}

#footer {
    width: 100%;
    float: left;
    background: linear-gradient(to top, rgb(30, 30, 30), rgb(50, 50, 50));
}

#footer_p {
    float: right;
    height: 100%;
    margin-bottom: 0px;
}

#p_name {
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 15px;
}

#logo_and_name {
    width: 200px;
    height: 125px;
    float: left;
}

#links_and_foot_p {
    width: 500px;
    float: right;
    margin-right: 50px;
}

#vk_logo {
    float: left;
    padding-left: 20px;
}

#footer_p_ {
    float: left;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 101px;
}