#addQuestion {
    text-align: center;
}

#main_div_user_info {
    margin: auto;
    margin-top: 100px;
    width: 740px;
    border: 4px outset black;
    background: linear-gradient(to top, rgb(30, 30, 30), rgb(70, 70, 70));
    border-radius: 35px;
    height: 0px;
}

#user_avatar {
    width: 217px;
}

#user_root {
    width: 217px;
    padding-left: 7px;
    float: left;
}

#user_avatar_img {
    width: 185px;
    height: 185px;
    border-radius: 100px;
    margin-left: 25px;
    margin-top: 25px;
    border: 5px solid gray;
    float: left;
}

#user_info {
    margin-top: 25px;
    margin-left: 25px;
    padding-bottom: 5px;
    width: 473px;

    color: white;
    border-radius: 35px;
    border: 4px solid gray;
    float: left;
    background: linear-gradient(to top, rgb(70, 70, 70), rgb(50, 50, 50));
}

#user_info_p_name {
    margin-top: -10px;
    padding: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

#user_info_p_rating, #user_info_p_email, #user_info_p_vk {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    padding-left: 10px;
    width: 473px;
    float: left;
    padding-top: 5px;
}

#p_statistic {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.p_windef {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top_line_user_info {
   width: 460px;
   color: rgb(50, 50, 50);
   margin-left: 5px;
   margin-top: 15px;
   float: left;
}

#user_avatar_and_root {
   width: 217px;
   background: linear-gradient(to top, rgb(30, 30, 30), rgb(70, 70, 70));
   float: left;
   border-radius: 35px;
   margin-right: 0px;
}

#user_root {
   float:left;
   border-radius: 10px;
   margin-left: 10px;
   margin-top: 10px;
   background: linear-gradient(to top, rgb(30, 30, 30), rgb(70, 70, 70));
   border: 1px solid gray;
}

#statistic_user {
   text-align:center;
   margin: auto;
   width: 100%;
}

.p_procent {
   padding-left: 0px;
   padding-top: 16px;
   font-size: 14px;
}

.container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  z-index: 2;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.container1 {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: auto;
  z-index: 2;
}

#wins_cont, #defeats_cont {
  margin: auto;
  padding-left: 20px;
  float:left;
}

#wins_cont {
  margin-left: 28%;
}

.sector {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: left bottom;
}

.container:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  top: 25%;
  left: 25%;
}

.container1:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  top: 25%;
  left: 25%;
}

#addQuestion {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
}

#addQuestion:active {
    background-color: rgb(190, 0, 0);
}

#addQuestion:hover {
    background: linear-gradient(to top, rgb(250, 50, 50), rgb(255, 0, 0));
}

#addQuestionLink {
    text-decoration: none;
    color: #FFF;
}

#logout {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    text-align: center;
}

#logout:hover {
    background: linear-gradient(to top, rgb(250, 50, 50), rgb(255, 0, 0));
}


#logout:active {
    background-color: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
}


#logoutLink {
    text-decoration: none;
    color: #FFF;
}

#allLinks {
    margin-top: 10px;
}

#nickname {
    color: red;
    display: inline-block;
    padding-top: 15px;
}

#div_user_games_and_info {
    float: left;
    width: 473px;
}

#div_user_games {
    margin-top: 25px;
    margin-left: 25px;
    padding-bottom: 5px;
    width: 473px;
    color: white;
    height: 200px;
    border-radius: 35px 12px 12px 35px;
    border: 4px solid gray;
    float: left;
    overflow-y: scroll;
    background: linear-gradient(to top, rgb(70, 70, 70), rgb(50, 50, 50));
    scrollbar-face-color:#5997CA;
    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #5997CA;
    scrollbar-darkshadow-color: #5997CA;
    scrollbar-track-color: #F6F6F6;
    scrollbar-arrow-color: #F6F6F6;
}

#div_user_games::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:6px;
height:0px;
}

#div_user_games::-webkit-scrollbar-track {
background: #32312e;
box-shadow:0px 0px 3px #000 inset;
border-radius: 15px;
}

#div_user_games::-webkit-scrollbar-thumb {
-webkit-border-radius: 5px;
background: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
box-shadow:0px 1px 1px #fff inset;
background-position:center;
background-repeat:no-repeat;
border-radius: 15px;
}

#div_user_games::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px;
border-radius: 15px;
}

#div_user_games::-webkit-scrollbar{
width: 15px;
border-radius: 15px;
padding: 100px;

}

#p_games {
    margin-top: -10px;
    padding: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 0px;
}

#p_game {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    padding-left: 10px;
    width: 473px;
    float: left;
    padding-top: 5px;
}

#a_vk {
    text-decoration: none;
    color: white;
}

#table_games {
    width: calc(100% - 20px);
    cellspacing: 0px;
    border-collapse: collapse;
    margin: auto;
    margin-right: 5px;
    margin-left: 10px;
}

td, tr {
    border: 2px solid rgb(70, 70, 70);
    cellspacing: 2px;
    font-size: 19px;
    border-collapse: collapse;
}

#header_table_number, #header_table_category, #header_table_result, #header_table_date {
    width: 5px;
    border: 2px solid rgb(70, 70, 70);
    cellspacing: 0px;
    border-collapse: collapse;

}