.link {
    text-decoration: none;
    color: red;
}

#links {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 20px;
    color: rgb(200, 200, 200);
}

#button_registerIN:active {
    background-color: rgb(190, 0, 0);
}

#register_button {
    margin-top: 15px;
    text-align: center;
    width: 40%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    margin: auto;
}

#a_for_login {
    text-decoration: none;
    color: red;
}

#login_div {
    margin-top: 10px;
    text-align: center;
}

#header_start {
    margin-bottom: 18px;
    margin-top: 101px;
    text-align: center;
    color: #FFF;
}

#change_type_and_comp {
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-bottom:20px;
}

#change_comp {
    width: 50%;
    float: left;
    overflow: hidden;
}

#change_type {
    width: 50%;
    float: left;
    overflow: hidden;
}