h1 {
    text-align: center;
    margin-top: 100px;
    color: #FFF;
}

#addQuestion {
    text-align: center;
    color: red;
}

#logout {
    margin-top: 30px;
    text-align: center;
    color: red;
}

#addQuestionLink {
    text-decoration: none;
    color: red;
}

#logoutLink {
    text-decoration: none;
    color: red;
}