#login_div {
    font-size: 20px;
    color: rgb(200, 200, 200);
    background-color: rgb(70, 70, 70);
    margin: 0 auto;
    width: 700px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 35px;
    box-shadow: 0 3px 0 rgb(55, 55, 55);
}

#button_loginIN {
    width: 20%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
}

#button_loginIN:active {
    background-color: rgb(190, 0, 0);
}

#login_button {
    margin-top: 15px;
    text-align: center;
}

#a_for_register {
    text-decoration: none;
    color: red;
}

.login_label {
    background-color: rgb(60, 60, 60);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 600px;
    margin: 0 auto;
}

.login_input {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 606px;
    border-radius: 1px;
    outline: none;
}

.login_input_div {
    margin-left: 40px;
}

#register_div {
    margin-top: 10px;
    text-align: center;
}

#login_label_top {
    border-radius: 10px 10px 0 0;
}

#login_input_bottom {
    border-radius: 0 0 10px 10px;
}

#message {
    text-align: center;
}

#header_login {
   margin-bottom: 18px;
   margin-top: 101px;
}