#text_about_us {
    width: 70%;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    border: 4px outset black;
    height: 100%;
}

.p_text {
    padding: 5px;
    font-size: 20px;
    text-indent: 25px;
    margin: 0px;
}

.h2_text {
    margin: 0;
    text-align: center;
    margin-top: 5px;
}

#h2_text_1 {
    margin-top: 15px;
}

#img_girl {
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}

#img_boy {
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

#p_text_2 {
    width: calc(100% - 146px);
    float:left;
}