#top_fonLine {
    width: 100%;
    height: 4px;
    background-color: rgba(0,0,0,0.1);
}

#categories {
    margin-left: 30%;
    width: 40%;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1%;
}

#categoriesName {
    font-weight: bold;
    font-size: 24px;
    margin-left: 3%;
    margin-top: 2.5%;
}

#categoriesDescription {
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 2.5%;
}

#playCategory {
    text-decoration: none;
    color: black;
}