#game_div {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    background: linear-gradient(to top, rgb(30, 30, 30), rgb(70, 70, 70));
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
    border: 4px solid black;
}

#content {
    margin-top: 80px;
}

#main_div_questions {
    width: calc(68% - 14px);
    float:left;
    border-left: 4px solid gray;
    background: linear-gradient(to top, rgb(70, 70, 70), rgb(50, 50, 50));
}

#main_div_info {
    width:32%;
    float:left;
    overflow: hidden;
    padding-right: 10px;
}

#h1_quest {
    color: #FFF;
    margin: 0px;
    margin-top: 10px;
}

#question {
    color: rgb(200, 200, 200);
    font-size: 30px;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#div_questions_answers {
    text-align: center;
    width: calc(100% - 100px);
    margin: auto;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    padding-bottom: 5px;
}

#div_questions_answers_up {
    margin: auto;
    width: 100%;
}

#div_questions_answers_down {
    margin: auto;
    width: 100%;
}

.div_questions_answer  {
    width: calc(50% - 10px);
    height: 60px;
    background-color: rgb(200, 200, 200);
    font-size: 15px;
    color: rgb(60, 60, 60);
    margin: 0px 5px 10px 5px;
    padding: 0px;
    float: left;
    border-radius: 10px;
}

#p_answers {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    margin: 0px;
    margin-top: 5px;
}

.p_questions_answer {
    font-size: 20px;
    padding-top: 12px;
}

.checkbox {
    cursor: pointer;
    width: 310px;
    height: 60px;
    opacity: 0;
    position: absolute;
}

#player_icon_name {
    float: left;
    overflow: hidden;
}
#opp_icon_name {
    float: right;
    overflow: hidden;
}

.player_name {
    font-size: 22px;
    color: white;
}

#player_icon {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
    overflow: hidden;
}

#opponent_icon {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
    overflow: hidden;
}

#p_vs {
    float:left;
    line-height: 100px;
    width: calc(100% - 238px);
    font-size: 37px;
    margin: 0px;
    margin-top: 15px;
    color: white;
    overflow: hidden;
}

#progress {
    font-size: 37px;
    text-align: center;
    margin-top: 10px;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    color: white;
}

#category {
    font-size: 27px;
    text-align: center;
    margin-top: 10px;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    color: white;
}

#b_answer_question, #b_answer_question_next {
    width: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
}

#b_answer_question:hover, #b_answer_question_next:hover {
    background: linear-gradient(to top, rgb(250, 50, 50), rgb(255, 0, 0));
}

#div_progressbar {
    margin: auto;
}

::-webkit-progress-value { // - изменение стилей индикатора
    background: background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4); // - для chrome
                background: -moz-linear-gradient(#4c4, #8f8 50%, #4c4);
                background: -o-linear-gradient(#4c4, #8f8 50%, #4c4);
                background: linear-gradient(#4c4, #8f8 50%, #4c4);
    border-radius: 5px;
}

::-webkit-progress-bar { // - изменение стилей фона
    border-radius: 5px;
    background: linear-gradient(to top, rgb(35, 35, 35), rgb(40, 40, 40));
}

#progressbar {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 100px);
    background: white;

}

#right_answer, #answer {
    font-size: 25px;
    color: white;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div_question_text {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#div_question_image {
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

#div_question_image_map {
    float: left;
    width: 100%;
    height: 291px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px;
}

#question_image_map {
    height: 283px;
    width: 375px;
    margin: 0px;
    border: 4px solid black;
}

#question_image {
    height: 30%;
    width: 30%;
    margin: 0px;
    border: 4px solid black;
}

#input_text {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 90%;
    border-radius: 1px;
    outline: none;
}

#result {
    width: 90%;
    margin: auto;
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    margin-bottom: 20px;
}

.temp_p {
    margin: 0px;
 }

#h3_comment {
    color: white;
 }


.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.9);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	width: 35%;
	margin:6% 0 0 0;
}