#main_div_change {
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
}

#header_change {
    margin: 0px;
}

#categories {
    width: 100%;
    margin-top: 20px;
    background: rgb(220, 220, 220);
    border-radius: 4px;
    overflow: hidden;
    height: 92px;
}

#championships {
    width: 100%;
    margin-top: 20px;
    background: rgb(220, 220, 220);
    border-radius: 4px;
    overflow: hidden;
    height: 92px;
}

#categoriesName {
    font-weight: bold;
    font-size: 24px;
    margin-left: 3%;
    margin-top: 2.5%;
}

#championshipsName {
    font-weight: bold;
    font-size: 24px;
    margin-left: 3%;
    margin-top: 2.5%;
}


#playCategory {
    text-decoration: none;
    color: black;
}

#playChampionships {
    text-decoration: none;
    color: black;
}