#game_div {
    margin: 0 auto;
    margin-top: 110px;
    padding-bottom: 30px;
    width: 740px;
    background-color: rgb(70, 70, 70);
    border-radius: 35px;
    color: #FFF;
    overflow: hidden;
}

h1 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

#opponent {
    float: right;
}

#player_icon {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
}

#opponent_icon {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
}

#player_name {
    float: left;
    font-size: 23px;
    padding-top: 35px;
    padding-left: 15px;
}

#opponent_name {
    float: right;
    font-size: 23px;
    padding-top: 35px;
    padding-right: 15px;
}

.checkbox {
    cursor: pointer;
    width: 170px;
    height: 50px;
    opacity: 0;
    position: absolute;
}

#question {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    text-align: justify;
    background-color: rgb(60, 60, 60);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 35px;
}

#b_answer_question {
    width: 150px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
}

#button {
    text-align: center;
}

#result {
    width: 40%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; // цвет и border меняется от варианта и изменяется в next_game.html
}

#question_time {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#div_questions_answers {
    text-align: center;
    width: 50%;
    margin: auto;
}

#div_questions_answers_up {
    margin: auto;
    width: 100%;
}

#div_questions_answers_down {
    margin: auto;
    width: 100%;
}

.div_questions_answer  {
    width: 170px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    font-size: 15px;
    color: rgb(60, 60, 60);
    margin: 0px 5px 10px 5px;
    padding: 0px;
    float:left;
    border-radius: 10px;
}

#p_answers {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
}

.p_questions_answer {
    font-size: 20px;
    padding-top: 12px;
}

#progress {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
}