#p_win {
    color: white;
}

#id_wineer {
    text-align: center;
    width: 50%;
    margin: auto;
}

#h1_winner {
    color: white;
}

#a_for_rating {
    font-size: 20px;
    width: 100%;
    color: white;
    float: left;
}