#main_div_championships {
    overflow: hidden;
    width: 60%;
    margin-left: 20%;
}

#header_championships {
    margin: 0px;
}

#championships {
    width: 100%;
    margin-top: 20px;
    background: rgb(220, 220, 220);
    border-radius: 4px;
    overflow: hidden;
}

#championshipsImg {
    float: left;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#championshipsName {
    font-weight: bold;
    font-size: 24px;
    margin-left: 3%;
    margin-top: 2.5%;
}

#championshipsType {
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 2.5%;
}

#playChampionship {
    text-decoration: none;
    color: black;
}