h1 {
    text-align: center;
    color: #FFF;
    margin-bottom: 0px;
}

#main_div {
    margin: auto;
    margin-bottom: 0px;
    margin-top: 101px;
}

@media only screen and (max-width: 650px) {
    h1 {
        color: red;
    }
}