#p_win {
    color: white;
    font-size: 50px;
}

#id_wineer {
    text-align: center;
    width: 50%;
    margin: auto;
}

#h1_winner {
    color: white;
    font-size: 50px;
}

#a_for_rating {
    font-size: 40px;
    width: 100%;
    color: white;
    float: left;
}

#img_winner {
    width: 100%;
    height: 100%;
}