#header_rating {
    font-size: 55px;
    margin: 10px 0px;
}

td, th {
    border: 3px white rgb(70, 70, 70);
    height: 70px;
    font-size: 40px;
    color: black;
}

td {
    border-top: 0px;
}

th {
    background: #FDB913;
    color: white;
}

.user_div {
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 600px;
    cursor: pointer;
}

#rating_div {
    font-size: 30px;
    color: rgb(200, 200, 200);
    background: white;
    margin: 0 auto;
    width: 99%;
    margin-top: 20px;
    border-radius: 5px;
    border-spacing: 0px;
}

.hr_slider_news, .hr_news_lenta {
    background: #FDB913;
    height: 10px;
    width: 90%;
    border: 0px;
    border-radius: 100px;
    margin: auto;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-image: -webkit-linear-gradient(left, rgb(150, 150, 150), #FDB913, rgb(150, 150, 150));
    background-image: -moz-linear-gradient(left, rgb(200, 200, 200), #FDB913, rgb(200, 200, 200));
    background-image: -ms-linear-gradient(left, rgb(200, 200, 200), #FDB913, rgb(200, 200, 200));
    background-image: -o-linear-gradient(left, rgb(200, 200, 200), #FDB913, grgb(200, 200, 200));
}

.hr_news_lenta {
    width: 50%;
}

