#heading {
    font-size: 60px;
    text-align: center;
    transform: skewX(0deg);
    background: white;
}

#title_div {
    width: 100%;
    font-weight: bold;
    margin-left: 0px;
    transform: skewX(0deg);
    background: white;
}

#all_navigator_div {
    margin: 0px;
    margin-top: 100px;
    height: 92px;
    float: none;
    width: 100%;
    background: #FDB913;
}

.navigator_div {
    width: 33%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    transform: skewX(1deg);
    background: #FDB913;
}

p.navigator_p {
    font-size:40px;
    transform: skewX(0deg);
}

#user_nickname_p {
    transform: skewX(0deg);
}

#user_avatar_navigator {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    transform: skewX(0deg);
}

#navigator_div5 {
    width: 34%;
    transform: skewX(0deg);
    margin-right: 0px;
    background: #FDB913;
    margin-top: 1px;
}

#navigator_div4 {
    width: 34%;
    background: #FDB913;
    transform: skewX(0deg);
    margin-right: 0px;
}

#content {
    margin-top: 192px;
}

#footer_p {
    float: right;
    height: 100%;
    margin: 0px;
}

#p_name {
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 18px;
}

#logo_and_name {
    width: 25%;
    height: 125px;
    float: left;
}

#footer_logo {
    margin-left: 25px;
    text-align: center;
}

#links_and_foot_p {
    width: calc(70% - 50px);
    float: right;
    margin-right: 50px;
    font-size: 23px;
}

#vk_logo {
    float: left;
    padding-left: 20px;
}

#footer_p_ {
    float: left;
}

#div_links {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 25px;
    color: #2A5885;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 0px;
    float: right;
}

#vk_line {
    width: 70%;
    height: 2px;
    background-color: gray;
    opacity: 40%;
    margin-top: 5px;
    margin-left: 15%;
    border-radius: 5px;
}

#vk_button_join {
    width: 70%;
    background-color: #4A76A8;
    margin-left: 15%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
}

#vk_logo {
    margin-top: 15px;
}

#vk_a_join {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 60px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 5;
    height: 75px;
    font-size: 30px;
}

b {
    font-size: 45px;
    text-align:center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 80px;
    z-index: 5;
    margin-bottom: 10px;
    font-size: 40px;
}

button:hover {
    opacity: 0.8;
    z-index: 5;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    z-index: 5;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    z-index: 5;
}

.container100 {
    padding: 20px;
    padding-top: 0px;
    z-index: 5;
}

#container_cancel {
    float: right;
    width: 100%;
    padding: 0px;
}

.cancelbtn {
    width: auto;
    background-color: #f44336;
    z-index: 5;
    float: right;
    overflow: hidden;
    margin: 0px;
    width: 75px;
    height: 40px;
    font-size: 25px;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: -20px;
}

span.psw {
    float: right;
    padding-top: 16px;
    z-index: 5;rty
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
    z-index: 5;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 90%;
    height: 50%;
    z-index: 5;
    border-radius: 10px;
}

#div_container {
    width: 100%;
    margin: auto;
}

#div_container_1 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    height: 65px;
    line-height: 65px;
    border: none;
    cursor: pointer;
    z-index: 5;
}

#a_container {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

#a_container:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
    z-index: 5;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}