#main_div_championships {
    overflow: hidden;
    width: 95%;
    margin-top: 201px;
    margin: auto;
}

#championshipsName {
    font-size: 50px;
}

#championshipsType {
    font-size: 35px;
}

.championships {
    height: 100%;
}