#main_div_categories {
    overflow: hidden;
    width: 84%;
    margin-left: 8%;
    margin-top: 101px;
}

#categoriesName {
    font-size: 40px;
}

#categoriesDescription {
    font-size: 28px;
}

#categoriesImg {
    width: 73px;
    height: 73px;
    padding-top: 28px;
}