#main_div_categories {
    overflow: hidden;
    width: 95%;
    margin: auto;
    margin-top: 201px;
    margin-bottom: 15px ;
}

#categoriesName {
    font-size: 35px;
}

#categoriesDescription {
    font-size: 25px;
}

#categoriesImg {
    width: 120px;
    height: 120px;
    padding-top: 28px;
}