#main_div_categories {
    overflow: hidden;
    width: 84%;
    margin-left: 8%;
    margin-top: 201px;
}

#categoriesName {
    font-size: 35px;
}

#categoriesDescription {
    font-size: 25px;
}

#categoriesImg {
    width: 120px;
    height: 120px;
    padding-top: 28px;
}