#div_info {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#slider__item_text {
    font-size: 50px;
}

#slider_text
 {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 100px;
}

.slider {
    overflow: hidden;
    width: 100%;
    float: left;
    z-index: 2;
    position: relative;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.p_news_lenta {
    font-size: 40px;
    margin: 0;
    cursor: pointer;
}

.p_news_lenta:hover {
    background: rgb(186, 48, 48);
    font-size: 45px;
}

#heading_news {
    font-size: 50px;
}

#div_lenta_news {
    width: 100%;
}


.img_news {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 90%;
    width: 30%;
}

.p_news {
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    padding-left: 10px;
}

.p_news_caption {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 30px;
    font-size: 35px;
    font-weight: bold;
}

.div_text_news {
    float: left;
    width: 66%;
}

#div_lenta_news {
    background: rgb(200, 200, 200);
    overflow: hidden;
    width: 100%;
}

#div_news {
    opacity: 100;
    padding-bottom: 40px;
}

#header_rating {
    font-size: 45px;
    margin: 10px 0px;
}

td, th {
    border: 3px white rgb(70, 70, 70);
    border-left: 0px;
    height: 44px;
    color: black;
}

td {
    border-top: 0px;
}

th {
    background: #FDB913;
    color: white;
}

.user_div {
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 600px;
    cursor: pointer;
}

#rating_div {
    font-size: 30px;
    color: rgb(200, 200, 200);
    background: white;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border-spacing: 0px;
}

#text_about_us {
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    border: 4px outset black;
    height: 100%;
}

#div_about_site {
    background: white;
    padding-top: 20px;
}

.p_text {
    padding: 5px;
    font-size: 35px;
    margin: 0px;
}

.h2_text {
    margin: 0;
    text-align: center;
    margin-top: 5px;
    font-size: 45px;
}

#h2_text_1 {
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}

#p_text_2 {
    width: 100%;
    float:left;
    height: 100%;
}


#header_about_site {
    text-align: center;
    color: black;
    font-size: 45px;
    margin: 0px;
}

.slider_news {
    position: absolute;
    text-align: center;
    top: 220px;
    left: 70px;
    background: rgb(0, 0, 0, 0.6);
    height: 200px;
    width: 380px;
    border-radius: 5px;
    z-index: 2;
    color: white;
    visibility: hidden;
}

.a_slider_news {
    font-size: 35px;
    text-decoration: none;
    padding: 18px;
    color: black;
    background: white;
    margin: 0px;
    margin-top: 25px;
    font-weight: bold;
    padding: 10px 20%;
}

.slider_news_caption {
    font-size: 35px;
    margin: 10px 0px;
}

.hr_slider_news, .hr_news_lenta {
    background: #FDB913;
    height: 10px;
    width: 90%;
    border: 0px;
    border-radius: 100px;
    margin: auto;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-image: -webkit-linear-gradient(left, rgb(150, 150, 150), #FDB913, rgb(150, 150, 150));
    background-image: -moz-linear-gradient(left, rgb(200, 200, 200), #FDB913, rgb(200, 200, 200));
    background-image: -ms-linear-gradient(left, rgb(200, 200, 200), #FDB913, rgb(200, 200, 200));
    background-image: -o-linear-gradient(left, rgb(200, 200, 200), #FDB913, grgb(200, 200, 200));
}

.hr_news_lenta {
    width: 40%;
}

.slider__control {
    width: 60px;
    height: 100px;
}