input {
    width: 400px;
    height: 400px;
    line-height: 400px;
    float: left;
    overflow: hidden;
}

#div_first_input, #div_second_input{
    height: 100%;
    width: 400px;
    float: left;
    overflow: hidden;
    margin: auto;
}

#label_for_first, #label_for_second {
    float:left;
    color: white;
    font-size: 43px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#main_div_championship {
    width: 910px;
    margin: auto;
    height: 100%;
    overflow: hidden;
}

#div_input {
    margin: auto;
    height: 100%;
    width: 910px;
    overflow: hidden;
}

#curr_stage, #stage {
    color: white;
    float:left;
    width: 100%;
    font-size: 55px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#stage {
    font-size: 45px;
}

#p_vs {
    width: 100px;
    margin: 0px 5px;
    float: left;
    height: 400px;
    line-height: 400px;
    font-size: 75px;
    color: white;
}

#title {
    font-size: 50px;
    margin-bottom: 10px;
}