#main_div_game {
    width: 100%;
    border-radius: 0px;
    border: 0px;
    background: rgb(16, 16, 16);
}

#links {
    width: 100%;
    margin: auto;
    font-size: 40px;
    color: rgb(200, 200, 200);
    text-align: center;
}

#a_for_login {
    color: #FDB913;
}

#change_comp {
    width: 100%;
    float: left;
    overflow: hidden;
}

#change_type {
    width: 100%;
    float: left;
    overflow: hidden;
}

.form-check-comp {
   text-align: left;
   margin: 20px;
   margin-left: 25%;
}

.form-check-type {
   text-align: left;
   margin: 20px;
   margin-left: 25%;
}

.form-check-label {
    cursor: pointer;
    font-size: 35px;
    margin-left: 10px;
}

#button_registerIN:active {
    background-color: linear-gradient(to top, #FFC920, #FDB913);
}

#button_submit {
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 50px;
    color: white;
    background: linear-gradient(to top, #FDB913, #FFC920);
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    height: 100px;
    text-align: center;
}

#button_submit:active {
    linear-gradient(to top, #FFC920, #FDB913);
}

#header_category {
    font-size: 50px;
}

#header_comp, #header_type {
    font-size: 40px;
}

.form-check-label:before {
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 34px;
	float: left;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	border-radius: 100px;
}

input[type=radio]:checked + .form-check-label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 75px;
	float: left;
	color: #f3f3f3;
	line-height: 25px;
	line-width: 25px;
}

#header_game {
    margin-top: 10px;}
