#div_info {
    width: calc(100% - 8px);
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

#slider__item_text {
    font-size: 50px;
}

#slider_text
 {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 100px;
}

.slider {
    border: 4px outset black;
    border-left: 0px;
    overflow: hidden;
    width: 100%;
    float: left;
    z-index: 2;
    position: relative;
}

.p_news_lenta {
    font-size: 40px;
    margin: 0;
    cursor: pointer;
}

.p_news_lenta:hover {
    background: rgb(186, 48, 48);
    font-size: 45px;
}

#heading_news {
    font-size: 50px;
}

#div_lenta_news {
    width: calc(100% - 8px);
}


.img_news {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 90%;
    width: 30%;
}

.p_news {
    margin: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    padding-left: 10px;
}

.p_news_caption {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 30px;
    font-size: 35px;
    font-weight: bold;
}

.div_text_news {
    float: left;
    width: 66%;
}

#div_lenta_news {
    background: rgb(200, 200, 200);
    margin-bottom: 20px;
    border: 4px outset black;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

#div_news {
    opacity: 100;
    padding-bottom: 40px;
}

#header_rating {
    font-size: 45px;
    margin: 10px 0px;
}

td, th {
    border: 3px white rgb(70, 70, 70);
    border-left: 0px;
    height: 44px;
    color: black;
}

td {
    border-top: 0px;
}

th {
    background: #FDB913;
    color: white;
}

.user_div {
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 600px;
    cursor: pointer;
}

#rating_div {
    font-size: 30px;
    color: rgb(200, 200, 200);
    background: white;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border-spacing: 0px;
}

#text_about_us {
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    border: 4px outset black;
    height: 100%;
}

#div_about_site {
    background: white;
    padding-top: 20px;
}

.p_text {
    padding: 5px;
    font-size: 35px;
    margin: 0px;
}

.h2_text {
    margin: 0;
    text-align: center;
    margin-top: 5px;
    font-size: 45px;
}

#h2_text_1 {
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}

#p_text_2 {
    width: 100%;
    float:left;
    height: 100%;
}


#header_about_site {
    text-align: center;
    color: black;
    font-size: 45px;
    margin: 0px;
}