#main_div_about_site {
    margin-top: 201px;
    font-family: "Verdana", serif;;
}

#header_about_site {
    margin: 0px;
 }

#text_about_us {
    width: 99%;
    height: 100%;
}

.p_text {
    font-size: 35px;
}

.h2_text {
    font-size: 40px;
 }

.imgs {
    width: 200px;
    height: 200px;
}

#p_text_2 {
    width: 70%;
    float:left;
    height: 100%;
}
#p_text_1 {
    width: 100%;

}
