#player_icon {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
    overflow: hidden;
}

#opponent_icon {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 100px;
    border: 2px solid gray;
    box-shadow: 0 0 7px #666;
    overflow: hidden;
}

#question_image {
    height: 250px;
    width: 200px;
    margin: 0px;
    border: 0px solid black;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.9);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:2;
	max-height:94%;
	max-width:94%;
	width: 35%;
	margin:6% 0 0 0;
}