.container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  z-index: 2;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.container1 {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin: auto;
  z-index: 2;
}

.sector {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: left bottom;
}

.container:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  top: 25%;
  left: 25%;
}

.container1:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  top: 25%;
  left: 25%;
}