body {
    overflow-y: scroll;
}

#div_admin_users_show {
    overflow: hidden;
}

.form_users_edit_redactor {
    text-align: center;
    margin: auto;
    height: 100%;
    min-height: 50px;
}

.form_users_edit_redactor_checkbox {
    height: 50px;
    width: 50px;
}

.form_users_edit_redactor_avatar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.div_label_form_users_edit_redactor_image {
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: black;
    background-color: red;
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    margin: 0 auto;
}

.form_users_edit_redactor input[type=text],
 .form_users_edit_redactor select,
  .form_users_edit_redactor input[type=password],
  .form_users_edit_redactor input[type=email],
  .form_users_edit_redactor input[type=date],
  .form_users_edit_redactor input[type=number]{
    max-width: 90%;
    min-width: 90%;
    height: 50px;
    font-size: 25px;
    margin-top: 10px;
    overflow-y: hidden;
}

.label_users_edit_redactor {
    color: white;
    font-size: 30px;
}

.div_users_edit {
    color: black;
    background: white;
    height: 80px;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    margin-top: 10px;
    cursor: pointer;
}

#header_admin_users {
    text-align: center;
    color: white;
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.p_text_users_nick {
    font-size: 25px;
}

.p_text_users_id {
    font-size: 25px;
}

.p_text_users_email {
    font-size: 25px;
}

#div_admin_users {
    margin: auto;
    text-align: center;
}

.h2_text_users_id {
    color: black;
    width: 10%;
    float: left;
    text-align: center;
    margin: 0px;
}

.h2_text_users_nick {
    color: black;
    width: 55%;
    float: left;
    text-align: center;
    margin: 0px;
}

.h2_text_users_email {
    color: black;
    width: 35%;
    float: left;
    text-align: center;
    margin: 0px;
}

.div_users_edit_title {
    width: 100%;
    color: black;
    height: 80px;
    font-size: 40px;
    line-height: 80px;
    background: #FDB913;
    overflow: hidden;
}

.p_text_users_id {
    width: 10%;
    float: left;
    text-align: center;
}

.p_text_users_nick {
    width: 55%;
    float: left;
    text-align: center;
}

.p_text_users_email {
    width: 35%;
    float: left;
    text-align: center;
}

#div_input_search {
    background: rgb(16, 16, 16);
}

.div_input_search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    font-size: 25px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.div_select_admin_users {
   margin: 0px;
   width: 100%;
   float: left;
   height: 35px;
   margin-bottom: 10px;
}

.div_select_admin_users #select_state {
   height: 35px;
   font-size: 23px;
   width: 100%;
}


.label_users_edit_redactor {
   color: black;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 5;
    font-size: 20px;
}

b {
    font-size: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    z-index: 5;
    margin-bottom: 10px;
    font-size: 20px;
}

button:hover {
    opacity: 0.8;
    z-index: 5;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    z-index: 5;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    z-index: 5;
}

.div_form_login, .container_cancel {
    padding: 20px;
    padding-top: 0px;
    z-index: 5;
}

.container_cancel {
    float: right;
    width: 100%;
    padding: 0px;
}

.cancelbtn {
    width: auto;
    background-color: #f44336;
    z-index: 5;
    float: right;
    overflow: hidden;
    margin: 0px;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 0px;
}

span.psw {
    float: right;
    padding-top: 16px;
    z-index: 5;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 0px;
    z-index: 5;
}

.modal-content {
    background-color: #fefefe;
    margin: 1% auto 1% auto;
    border: 1px solid #888;
    width: 70%;
    z-index: 5;
    border-radius: 10px;
}

#div_container {
    width: 100%;
    margin: auto;
}

#div_container_1 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-size: 20px;
}

#div_container_2 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-size: 20px;
}

#a_container {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#a_container:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
    z-index: 5;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.modal::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px;
}

.modal::-webkit-scrollbar-track {
    background: white;
}

.modal::-webkit-scrollbar-thumb {
    background: #FFC920;
    background-position:center;
    background-repeat:no-repeat;
}

.modal::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px;
}

.modal::-webkit-scrollbar{
    width: 15px;
    padding: 100px;
}