#button_loginIN {
    width: 25%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    outline: none;
}

#button_loginIN:active {
    background-color: rgb(190, 0, 0);
}

#login_button {
    margin-top: 15px;
    text-align: center;
}

.login_input {
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
    width: 606px;
    height: 30px;
    border-radius: 1px;
    outline: none;
}

#login_input_bottom {
    border-radius: 0 0 10px 10px;
}
