#login_div {
    font-size: 20px;
    color: rgb(200, 200, 200);
    background-color: rgb(70, 70, 70);
    margin: 0 auto;
    width: 700px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 35px;
    margin-bottom: 100px;
}

.login_input_div {
    margin-left: 40px;
}

#category {
    width: 620px;
}

#register_div {
    margin-top: 10px;
    text-align: center;
}

.login_area {
    padding-left: 10px;
    padding-top: 12px;
    font-size: 20px;
    width: 606px;
    height: 100px;
    border-radius: 1px;
    resize: none;
    overflow: hidden;
    outline: none;
}

.login_area_div {
    margin-left: 40px;
    font-family: font-family: Arial, Helvetica, sans-serif;
}

#photo {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

#photo_div {
    width: 619px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    margin: 0 auto;
}

#photo_div:active {
    background-color: rgb(190, 0, 0);
}