{% extends "base.html" %}

{% block content %}
    <div id="main_div_about_site">
        <h1 class='header' id="header_about_site">О сайте</h1>
        <div id="text_about_us">
            <img src="/static/img/icons/girl_answer.png" alt="" width="100px" height="131px" id="img_girl">
            <h2 class='h2_text' id="h2_text_1">Что это?</h2>
            <p class='p_text' id="p_text_1">
                Ничего? Нигде? Никогда? – это бесплатная интеллектуальная игра-викторина. Для победы в игре Вам понадобится проявить знания в самых разных областях.
                В ходе игры Вам будут заданы 11 вопросов, которые были составлены другими участниками или нашей администрацией, различной сложности с возможностью
                выбрать ответ из нескольких вариантов или написать свой (опечатки не приветствуются). Ваша цель обыграть составителей вопросов, выигрывает тот, кто первый наберет 6 баллов(за 1 вопрос 1 балл).
            </p>
            <h2 class='h2_text'>Как вы можете помочь</h2>
            <p class='p_text' id="p_text_2">
                Мы будем рады получить от Вас новые вопросы для викторины. Для этого зайдите в личный кабинет и нажмите кнопку «Создать вопрос».
                Введите текст вопроса, правильный ответ, комментарий к ответу, выберите категорию вопроса и введите варианты (неправильные) ответов и отправьте вопрос для проверки модератором сайта.
            </p>
            <img src="/static/img/icons/boy_answer.png" alt="" width="100px" height="131px" id="img_boy">
        </div>
    </div>
    <script src="/static/scripts/scriptForAboutSite.js"></script>
{% endblock %}