{% extends "base.html" %}

{% block content %}
    <div id="main_div_about_site">
        <h1 class='header' id="header_about_site">О сайте</h1>
        <div id="text_about_us">
            <p id="p_text">
                Здравствуйте! Рады вас видеть на сайте онлайн игры-викторины Ничто? Нигде? Никогда?
                Ничто? Нигде? Никогда? - умственная игра-викторина, для выйгрыша в которой вам надо продемонстрировать багаж знаний в самых разных сферах.
                Данный сайт находится на стадии разработки, и мы будем очень рады вашим советам и предложениям, которые вы можете прислать нам в соц.сетях
                https://vk.com/nothingnowherenowhen или на почту nothing-nowhere-nowhen@mail.ru. Спасибо за внимание!
            </p>
        </div>
    </div>
    <script src="/static/scripts/scriptForAboutSite.js"></script>
{% endblock %}