{% extends "base.html" %}

{% block content %}
    <div id="main_div_about_site">
        <h1 class='header' id="header_about_site">О сайте</h1>
        <div id="text_about_us">
            <p id="p_text">
                Ничего? Нигде? Никогда? – это бесплатная интеллектуальная игра-викторина. Для победы в игре Вам понадобится проявить знания в самых разных областях.
                В ходе игры Вам будут заданы 11 вопросов, которые были составлены другими участниками или нашей администрацией, различной сложности с возможностью
                выбрать ответ из нескольких вариантов или написать свой (опечатки не приветствуются). Ваша цель обыграть составителей вопросов, выигрывает тот, кто первый наберет 6 баллов(за 1 вопрос 1 балл).
                <br><br>
                Мы будем рады получить от Вас новые вопросы для викторины. Для этого зайдите в личный кабинет и нажмите кнопку «Создать вопрос».
                Введите текст вопроса, правильный ответ, комментарий к ответу, выберите категорию вопроса и введите варианты (неправильные) ответов и отправьте вопрос для проверки модератором сайта.
            </p>
        </div>
    </div>
    <script src="/static/scripts/scriptForAboutSite.js"></script>
{% endblock %}