{% extends "base.html" %}

{% block content %}
    <h1 style="color: rgb(255, 255, 255); text-align: center; margin-top: 100px;">Создать вопрос</h1>

    <div id="login_div">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="login_label" id="login_label_top">{{ form.text.label }}</div>
            <div class="login_area_div">{{ form.text(class="login_area", id="text") }}</div>
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_label">{{ form.answer.label }}</div>
            <div class="login_input_div">{{ form.answer(class="login_input") }}</div>
            {% for error in form.answer.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_label">{{ form.comment.label }}</div>
            <div class="login_area_div">{{ form.comment(class="login_area") }}</div>
            {% for error in form.comment.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_label">{{ form.category.label }}</div>
            <div class="login_input_div">{{ form.category(class="login_input")}}</div>
            {% for error in form.category.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_label">{{ form.wrong_answer1.label }}</div>
            <div class="login_input_div">{{ form.wrong_answer1(class="login_input") }}</div>
            {% for error in form.wrong_answer1.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_input_div">{{ form.wrong_answer2(class="login_input") }}</div>
            {% for error in form.wrong_answer2.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_input_div">{{ form.wrong_answer3(class="login_input", id="login_input_bottom") }}</div>
            {% for error in form.wrong_answer3.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div id="login_button">{{ form.submit(type="submit", class="btn btn-primary", id='button_loginIN') }}</div>
            <div>{{ message }}</div>
        </form>
    </div>

{% endblock %}