{% extends "base.html" %}

{% block content %}
    <div id="main_div_admin_users">
        <h1 id="header_admin_users">База пользователей</h1>
        <div id="div_admin_users">
            <div class="div_input_search">
                <input type="search" placeholder="Ник пользователя" value="" oninput="editUser()" id="div_admin_users_search_nick">
            </div>
            <div class="div_input_search">
                <input type="search" placeholder="Email" value="" oninput="editUser()" id="div_admin_users_search_email">
            </div>

            <div class="div_select_admin_users">
                <select name="select_state" id="select_state" onchange="editUser()">
                    <option value="0">
                        Все
                    </option>
                    <option value="admin">
                        Админ
                    </option>
                    <option value="user">
                        Пользователь
                    </option>
                </select>
            </div>

        </div>

        <div class="div_users_edit_title">
            <p class="h2_text_users_id">ID</p>
            <p class="h2_text_users_nick">Никнейм</p>
            <p class="h2_text_users_email">Email</p>
        </div>

        <script>

        function editAllGames(id_) {
            $('#all_games_' + String(id_)).val( Number($('#wins_' + String(id_)).val()) + Number($('#defeats_' + String(id_)).val()) );
        };

        function putUser(id_) {
            var form = document.getElementById('form_' + String(id_));

            fetch('/check_edit_or_show_users/' + String(id_), {
              method: 'PUT',
              body: new FormData(form)
            })
            .then((response) => {
                return response.json();
            })
            .then((myjson) => {
                if (typeof myjson['errors'] !== "undefined") {
                    alert(myjson['errors']);
                }
                else {
                    $('#post_form_register').trigger('click');
                }
            });

            if (({{ current_user.id }} == id_) & ($('#select_type_users_edit_redactor_' + String(id_)).val() != 'admin')) {
                alert('Вы лишили себя прав администратора!');
                document.location.href = "/user_info/" + '{{ current_user.id }}';
            };

            document.getElementById('p_text_users_nick_' + String(id_)).innerHTML = $('#nick_' + String(id_)).val();
            document.getElementById('p_text_users_email_' + String(id_)).innerHTML = $('#email_' + String(id_)).val();
        };

         function clickToUser(id_) {
            document.getElementById('main_div_form_edit_user_' + id_).style.display='block';
            document.body.style.overflow = 'hidden';
            document.body.style.marginRight = '15px';
        };

        function editUser() {
            fetch('/check_edit_or_show_users/1')
            .then((response) => {
                return response.json();
            })
            .then((myjson) => {

                $('.div_users_edit').detach();

                myjson['users'].forEach(function(item, i, arr) {
                  if (( item['nickname'].indexOf($('#div_admin_users_search_nick').val()) != -1 ) &
                     ( item['email'].indexOf($('#div_admin_users_search_email').val()) != -1 )    &
                     ((item['state'] == $('#select_state').val()) | ($('#select_state').val() == 0))) {
                    $(`<div class="div_users_edit" id='div_users_edit_` + String(item["id"]) + `' onclick="clickToUser('` + String(item["id"])  + `')">
                        <p class="p_text_users_id" id="p_text_users_id_` + String(item["id"]) + `">` + item["id"] + `</p>
                        <p class="p_text_users_nick" id="p_text_users_nickname_` + String(item["id"]) + `">` + item["nickname"].slice(0, 37) + `</p>
                        <p class="p_text_users_email" id="p_text_users_email_` + String(item["id"]) + `">` + item["email"] + `</p>
                       </div>`).insertBefore($("#main_div_form_edit_user_" + String(item["id"])));
                  };

                });

            });
        }
    </script>

        <div id="div_admin_users_show">
            {% for user in users %}
                <div class="div_users_edit" id='div_users_edit_{{ user["id"] }}'>
                    <p class="p_text_users_id" id="p_text_users_id_{{ user['id'] }}">{{ user['id'] }}</p>
                    {% if user['nickname'][37] %}
                        <p class="p_text_users_nick" id="p_text_users_nick_{{ user['id'] }}">{{ user['nickname'][:37] }}...</p>
                    {% else %}
                        <p class="p_text_users_nick" id="p_text_users_nick_{{ user['id'] }}">{{ user['nickname'][:37] }}</p>
                    {% endif %}
                    <p class="p_text_users_email" id="p_text_users_email_{{ user['id'] }}">{{ user['email'] }}</p>
                </div>

                <div id="main_div_form_edit_user_{{ user['id'] }}" class="modal" style="overflow-y: scroll; height: 100vh; display: none;">

                    <form class="modal-content animate" action="/login" method="post" id="form_{{ user['id'] }}" style="height: auto;" enctype="multipart/form-data">

                        <div class='div_users_edit_redactor' id='div_users_edit_redactor_{{ user["id"] }}'>

                           <div class="container_cancel">
                                <button type="button" class="cancelbtn" id="cancelbtn_{{ user['id'] }}">X</button>
                           </div>

                            <script>
                                $('#cancelbtn_{{ user['id'] }}').on('click', function () {
                                    document.getElementById('main_div_form_edit_user_{{ user["id"] }}').style.display='none';
                                    document.body.style.overflow = 'scroll';
                                    document.body.style.marginRight = '0px';
                                });
                            </script>

                           <div class="form_users_edit_redactor">
                                <div>
                                    <label for="nick_{{ user['id'] }}" class="label_users_edit_redactor">Никнейм</label>
                                </div>
                                <input type='text' name="nick_{{ user['id'] }}" id="nick_{{ user['id'] }}" value="{{ user['nickname'] }}">
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="name_{{ user['id'] }}" class="label_users_edit_redactor">Имя</label>
                                </div>
                                <input type='text' name="name_{{ user['id'] }}" id="name_{{ user['id'] }}" value="{{ user['name'] }}">
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="surname_{{ user['id'] }}" class="label_users_edit_redactor">Фамилия</label>
                                </div>
                                <input type='text' name="surname_{{ user['id'] }}" id="surname_{{ user['id'] }}" value="{{ user['surname'] }}">
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="email_{{ user['id'] }}" class="label_users_edit_redactor">Email</label>
                                </div>
                                <input type='email' name="email_{{ user['id'] }}" id="email_{{ user['id'] }}" value="{{ user['email'] }}">
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="select_type_users_edit_redactor_{{ user['id'] }}" class="label_users_edit_redactor">Статус</label>
                                </div>
                                <select name="select_type_users_edit_redactor_{{ user['id'] }}" id="select_type_users_edit_redactor_{{ user['id'] }}">
                                    <option value="admin">
                                        Админ
                                    </option>
                                    <option value="user">
                                        Пользователь
                                    </option>
                                </select>
                            </div>
                            <script>
                                $('#select_type_users_edit_redactor_{{ user['id'] }} option:contains("{{ user['state'] }}")').prop('selected', true);
                            </script>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="rating_{{ user['id'] }}" class="label_users_edit_redactor">Рейтинг</label>
                                </div>
                                <input type='number' name="rating_{{ user['id'] }}" id="rating_{{ user['id'] }}" value='{{ user["rating"] }}'>
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="all_games_{{ user['id'] }}" class="label_users_edit_redactor">Всего игр</label>
                                </div>
                                <input type='number' name="all_games_{{ user['id'] }}" id="all_games_{{ user['id'] }}" value='{{ user["all_games"] }}' readonly>
                            </div>
                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="wins_{{ user['id'] }}" class="label_users_edit_redactor">Побед</label>
                                </div>
                                <input type='number' name="wins_{{ user['id'] }}" id="wins_{{ user['id'] }}" value='{{ user["wins"] }}' oninput="editAllGames({{user['id']  }})">
                            </div>
                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="defeats_{{ user['id'] }}" class="label_users_edit_redactor">Поражений</label>
                                </div>
                                <input type='number' name="defeats_{{ user['id'] }}" id="defeats_{{ user['id'] }}" value='{{ user["defeats"] }}' oninput="editAllGames({{user['id']  }})">
                            </div>
                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="start_date_{{ user['id'] }}" class="label_users_edit_redactor">Дата регистрации</label>
                                </div>
                                <input type="date" id="start_date_{{ user['id'] }}" name="start_date_{{ user['id'] }}" value="{{ user['start_date'] }}" readonly>
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label for="link_vk_{{ user['id'] }}" class="label_users_edit_redactor">Ссылка на ВК</label>
                                </div>
                                <input type='text' id="link_vk_{{ user['id'] }}" name="link_vk_{{ user['id'] }}" value="{{ user['link_vk'] }}">
                            </div>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label class="label_users_edit_redactor" for="remember_{{ user['id'] }}">Согласие на рассылку новостей</label>
                                </div>
                                <input type="checkbox" class='form_users_edit_redactor_checkbox' checked="checked" name="remember_{{ user['id'] }}" id="remember_{{ user['id'] }}">
                            </div>
                            <script>
                                if ({{ user['agree_newsletter'] }} == 1) {
                                    $("#remember_{{ user['id'] }}").prop('checked', true);
                                }
                                else {
                                    $("#remember_{{ user['id'] }}").prop('checked', false);
                                }
                            </script>

                            <div class="form_users_edit_redactor">
                                <div>
                                    <label class="label_users_edit_redactor" for="image_{{ user['id']}}" id="label_image_{{ user['id']}}">Аватар</label>
                                </div>
                                <input type="file" class='form_users_edit_redactor_avatar' name='image_{{ user["id"]}}' id="image_{{ user['id']}}" accept="image/*">

                                <div>
                                    <img src="{{ user['avatar'] }}" alt="У этого пользователя нет фото" id="image_users_{{ user['id'] }}" style="width: 250px; height: 250px; cursor: pointer;">
                                </div>

                                <script>
                                    $('#image_users_{{ user["id"] }}').on('click', function () {
                                        $('#label_image_{{ user["id"]}}').trigger('click');

                                    });
                                </script>
                            </div>

                            <script>
                                $('#image_{{ user['id']}}').change(function () {
                                    var input = $(this)[0];
                                    if (input.files && input.files[0]) {
                                        if (input.files[0].type.match('image.*')) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                $('#image_users_{{ user['id'] }}').attr('src', e.target.result);
                                            }
                                            reader.readAsDataURL(input.files[0]);
                                        } else {
                                            console.log('ошибка, не изображение');
                                        }
                                    } else {
                                        console.log('хьюстон у нас проблема');
                                    }
                                });
                            </script>
                            <button type='button' onclick="putUser({{ user['id'] }})">Сохранить изменения</button>
                        </div>

                        <script>
                            $('#div_users_edit_{{ user["id"] }}').on('click', function () {
                                document.getElementById('main_div_form_edit_user_{{ user["id"] }}').style.display='block';
                                document.body.style.overflow = 'hidden';
                                document.body.style.marginRight = '15px';
                            });

                        </script>


                    </form>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
