{% extends "base.html" %}

{% block content %}
    <div id="div_admin_add_news">
        <h1 id="header_admin_add_news">
            Добавить новость
            <hr class="hr_admin_add_news_lenta">
        </h1>
        <div id="main_div_news">
            <form action="" method="post" id="form_admin_add_news" enctype="multipart/form-data">
                <input type="text" value="Главный заголовок новости (max 50 символов)" maxlength="50" id="main_input_header_admin_add_news" name="main_input_header_admin_add_news">
                <input type="file" name='file' id="admin_add_news_header_image_input" accept="image/*">
                <img src="" alt="Добавить к новости картинку. Для адекватного отображения фото используйте разрешение 3:10" id="admin_add_news_header_image">
                <script>
                    $('#admin_add_news_header_image_input').change(function () {
                        var input = $(this)[0];
                        if (input.files && input.files[0]) {
                            if (input.files[0].type.match('image.*')) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#admin_add_news_header_image').attr('src', e.target.result);
                                    $('#admin_add_news_header_image').height($('#main_div_news').width() * 0.30);
                                }
                                reader.readAsDataURL(input.files[0]);
                            } else {
                                console.log('ошибка, не изображение');
                            }
                        } else {
                            console.log('хьюстон у нас проблема');
                        }
                    });
                </script>
                <input type="text" value="Заголовок новости (max 50 символов)" maxlength="50" class="input_header_admin_add_news" style="max-width: 100%;" name='input_header_admin_add_news'>
                <textarea name='input_admin_add_news' class="input_admin_add_news">Абзац новости</textarea>
                <button>Добавить в новостную ленту</button>
            </form>
        </div>
    </div>
{% endblock %}