{% extends "base.html" %}

{% block content %}
    <div id="main_div_change">
        <h1 id="header_change">
            Админка
            <hr class="hr_news_lenta">
        </h1>
        <a href="/send_message" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Рассылка</div>
            </div>
        </a>
        <a href="/check_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Одобрить вопросы</div>
            </div>
        </a>
        <a href="/admin_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Удалить/Изменить вопросы</div>
            </div>
        </a>
        <a href="/check_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Пользователи</div>
            </div>
        </a>
        <a href="/check_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Добавить новость</div>
            </div>
        </a>
        <a href="/check_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Удалить новость</div>
            </div>
        </a>
                <a href="/check_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Добавить викторину</div>
            </div>
        </a>
        <a href="/check_quests" class="playCategory">
            <div class="categories">
                <div class="categoriesName">Удалить/Изменить викторину</div>
            </div>
        </a>
    </div>
{% endblock %}