{% extends "base.html" %}

{% block content %}
    <div id="main_div_admin_users">
        <h1 id="header_admin_users">База пользователей</h1>
        <div id="div_admin_users">
            <div class="div_input_search">
                <input type="search" placeholder="Ник пользователя" value="" oninput="editUser()" id="div_admin_users_search_nick">
            </div>
            <div class="div_input_search">
                <input type="search" placeholder="Email" value="" oninput="editUser()" id="div_admin_users_search_email">
            </div>

            <div class="div_select_admin_users">
                <select name="select_state" id="select_state" onchange="editUser()">
                    <option value="0">
                        Все
                    </option>
                    <option value="admin">
                        Админ
                    </option>
                    <option value="user">
                        Пользователь
                    </option>
                </select>
            </div>

        </div>

        <div class="div_users_edit_title">
            <p class="h2_text_users_id">ID</p>
            <p class="h2_text_users_nick">Никнейм</p>
            <p class="h2_text_users_email">Email</p>
        </div>

        <script>
        var client = new XMLHttpRequest();

        function editAllGames(id_) {
            $('#all_games_' + String(id_)).val( Number($('#wins_' + String(id_)).val()) + Number($('#defeats_' + String(id_)).val()) );
        };

        function putUser(id_) {
            var form = document.getElementById('form_' + String(id_));

            let response = fetch('/api/123456789/put_user/' + String(id_), {
              method: 'PUT',
              body: new FormData(form)
            });

            document.getElementById('p_text_users_nickname_' + String(id_)).innerHTML = $('#nick_' + String(id_)).val();
            document.getElementById('p_text_users_email_' + String(id_)).innerHTML = $('#email_' + String(id_)).val();
        };

        function deleteUser(id_) {
            var form = document.getElementById('form_' + String(id_));

            let response = fetch('/api/123456789/delete_user/' + String(id_), {
              method: 'DELETE',
              body: new FormData(form)
            });

            $('#div_users_edit_' + String(id_)).detach();
            $('#div_users_edit_redactor_' + String(id_)).detach();
        };

        function showRedactor(id_) {
            if ($('#div_users_edit_redactor_' + String(id_)).is(":visible")) {
                $('#div_users_edit_redactor_' + String(id_)).hide();
            }
            else {
                $('#div_users_edit_redactor_' + String(id_)).show();
            }
        }

        function editUser() {
            fetch('/api/123456789/users')
            .then((response) => {
                return response.json();
            })
            .then((myjson) => {

                $('.div_users_edit').detach();

                $('.div_users_edit_redactor').hide();

                myjson['users'].forEach(function(item, i, arr) {
                  if (( item['nickname'].indexOf($('#div_admin_users_search_nick').val()) != -1 ) &
                     ( item['email'].indexOf($('#div_admin_users_search_email').val()) != -1 )    &
                     ((item['state'] == $('#select_state').val()) | ($('#select_state').val() == 0))) {
                    $(`<div class="div_users_edit" id='div_users_edit_` + String(item["id"]) + `' onclick="showRedactor(` + String(item["id"]) + `)">
                        <p class="p_text_users_id" id="p_text_users_id_` + String(item["id"]) + `">` + item["id"] + `</p>
                        <p class="p_text_users_nick" id="p_text_users_nickname_` + String(item["id"]) + `">` + item["nickname"].slice(0, 37) + `</p>
                        <p class="p_text_users_email" id="p_text_users_email_` + String(item["id"]) + `">` + item["email"] + `</p>
                       </div>`).insertBefore($("#div_users_edit_redactor_" + String(item["id"])));
                  };

                });

            });
        }
    </script>

        <div id="div_admin_users_show">
            {% for user in users %}
                <div class="div_users_edit" id='div_users_edit_{{ user["id"] }}' onclick="showRedactor({{ user['id'] }})">
                    <p class="p_text_users_id" id="p_text_users_id_{{ user['id'] }}">{{ user['id'] }}</p>
                    {% if user['nickname'][37] %}
                        <p class="p_text_users_nick" id="p_text_users_nick_{{ user['id'] }}">{{ user['nickname'][:37] }}...</p>
                    {% else %}
                        <p class="p_text_users_nick" id="p_text_users_nick_{{ user['id'] }}">{{ user['nickname'][:37] }}</p>
                    {% endif %}
                    <p class="p_text_users_email" id="p_text_users_email_{{ user['id'] }}">{{ user['email'] }}</p>
                </div>
                <div class='div_users_edit_redactor' id='div_users_edit_redactor_{{ user["id"] }}' style="display: none;">
                    <form action="" method="post" id="form_{{ user['id'] }}" enctype="multipart/form-data">
                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="nick_{{ user['id'] }}" class="label_users_edit_redactor">Никнейм</label>
                            </div>
                            <input name="nick_{{ user['id'] }}" id="nick_{{ user['id'] }}" value="{{ user['nickname'] }}">
                        </div>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="name_{{ user['id'] }}" class="label_users_edit_redactor">Имя</label>
                            </div>
                            <input name="name_{{ user['id'] }}" id="name_{{ user['id'] }}" value="{{ user['name'] }}">
                        </div>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="surname_{{ user['id'] }}" class="label_users_edit_redactor">Фамилия</label>
                            </div>
                            <input name="surname_{{ user['id'] }}" id="surname_{{ user['id'] }}" value="{{ user['surname'] }}">
                        </div>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="email_{{ user['id'] }}" class="label_users_edit_redactor">Email</label>
                            </div>
                            <input type='email' name="email_{{ user['id'] }}" id="email_{{ user['id'] }}" value="{{ user['email'] }}">
                        </div>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="select_type_users_edit_redactor_{{ user['id'] }}" class="label_users_edit_redactor">Статус</label>
                            </div>
                            <select name="select_type_users_edit_redactor_{{ user['id'] }}" id="select_type_users_edit_redactor_{{ user['id'] }}">
                                <option value="admin">
                                    Админ
                                </option>
                                <option value="user">
                                    Пользователь
                                </option>
                            </select>
                        </div>
                        <script>
                            $('#select_type_users_edit_redactor_{{ user['id'] }} option:contains("{{ user['state'] }}")').prop('selected', true);
                        </script>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="rating_{{ user['id'] }}" class="label_users_edit_redactor">Рейтинг</label>
                            </div>
                            <input type='number' name="rating_{{ user['id'] }}" id="rating_{{ user['id'] }}" value='{{ user["rating"] }}'>
                        </div>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="all_games_{{ user['id'] }}" class="label_users_edit_redactor">Всего игр</label>
                            </div>
                            <input type='number' name="all_games_{{ user['id'] }}" id="all_games_{{ user['id'] }}" value='{{ user["all_games"] }}' readonly>
                        </div>
                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="wins_{{ user['id'] }}" class="label_users_edit_redactor">Побед</label>
                            </div>
                            <input type='number' name="wins_{{ user['id'] }}" id="wins_{{ user['id'] }}" value='{{ user["wins"] }}' oninput="editAllGames({{user['id']  }})">
                        </div>
                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="defeats_{{ user['id'] }}" class="label_users_edit_redactor">Поражений</label>
                            </div>
                            <input type='number' name="defeats_{{ user['id'] }}" id="defeats_{{ user['id'] }}" value='{{ user["defeats"] }}' oninput="editAllGames({{user['id']  }})">
                        </div>
                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="start_date_{{ user['id'] }}" class="label_users_edit_redactor">Дата регистрации</label>
                            </div>
                            <input type="date" id="start_date_{{ user['id'] }}" name="start_date_{{ user['id'] }}" value="{{ user['start_date'] }}" readonly>
                        </div>

                        <div class="form_users_edit_redactor">
                            <div>
                                <label for="link_vk_{{ user['id'] }}" class="label_users_edit_redactor">Ссылка на ВК</label>
                            </div>
                            <input id="link_vk_{{ user['id'] }}" name="link_vk_{{ user['id'] }}" value="{{ user['link_vk'] }}">
                        </div>

                        <input type="file" name='image_{{ user["id"]}}' id="image_{{ user['id']}}" accept="image/*">
                        <img src="{{ user['avatar'] }}" alt="У этого пользователя нет фото" id="image_users_{{ user['id'] }}">
                        <script>
                            $('#image_{{ user['id']}}').change(function () {
                                var input = $(this)[0];
                                if (input.files && input.files[0]) {
                                    if (input.files[0].type.match('image.*')) {
                                        var reader = new FileReader();
                                        reader.onload = function (e) {
                                            $('#image_users_{{ user['id'] }}').attr('src', e.target.result);
                                        }
                                        reader.readAsDataURL(input.files[0]);
                                    } else {
                                        console.log('ошибка, не изображение');
                                    }
                                } else {
                                    console.log('хьюстон у нас проблема');
                                }
                            });
                        </script>
                    </form>
                    <button onclick="putUser({{ user['id'] }})">Редактировать</button>
                    <button onclick="deleteUser({{ user['id'] }})">Удалить</button>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
