<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/img/icons/icon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/styleForNavigator/styleForBody.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styleForNavigator/styleForContent.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styleForNavigator/styleForNavigatorDivs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styleForNavigator/styleForText.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styleForNavigator/styleForImages.css">
    {% for item in style %}
        <link rel="stylesheet" href="/{{ path_for_style + item }}" type="text/css">
    {% endfor %}
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 980px)" href="/static/css_mobile/styleForHeaderMobile.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 980px)" href="{{ style_mobile }}">
    <title>{{ title }} | Играть в интеллектуальную бесплатную онлайн игру-викторину Ничто? Нигде? Никогда?</title>
    <meta name="Description" content="Играть в бесплатную онлайн-викторину Ничто? Нигде? Кокогда?"/>
    <script type="text/javascript">
        document.ondragstart = noselect;
        // запрет на перетаскивание
        document.onselectstart = noselect;
        // запрет на выделение элементов страницы
        document.oncontextmenu = noselect;
        // запрет на выведение контекстного меню
        function noselect() {return false;}
    </script>
</head>
<body>
    <div id="top_menuDiv">
        <a href="/">
            <div id="title_div">
                <p id="heading">Ничто? Нигде? Никогда?</p>
            </div>
        </a>
        <div id="all_navigator_div">
            <a href="/about_site">
                <div class="navigator_div" id="navigator_div1">
                    <p class="navigator_p">О сайте</p>
                </div>
            </a>
            <a href="/change_play">
                <div class="navigator_div" id="navigator_div2">
                    <p class="navigator_p">Играть</p>
                </div>
            </a>
            <a href="/rating">
                <div class="navigator_div" id="navigator_div3">
                    <p class="navigator_p">Рейтинг</p>
                </div>
            </a>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/user_info/{{ current_user.nickname }}">
                    <div class="navigator_div" id="navigator_div4">
                        <img src="/{{ current_user.avatar }}" alt="" width="40px" height="40px" id="user_avatar_navigator">
                        {% if current_user.nickname[6] %}
                            <p class="navigator_p" id="user_nickname_p">{{ current_user.nickname[:6] + '...' }}</p>
                        {% else %}
                            <p class="navigator_p" id="user_nickname_p">{{ current_user.nickname[:6] }}</p>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <a href="/login" class="navigator_p">
                    <div class="navigator_div" id="navigator_div5">
                        <p class="navigator_p" id="user_nickname_p">Войти</p>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <div id="main">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script>
        window.onresize = function () {
                        if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                            document.getElementById('top_menuDiv').style.width = String(document.documentElement.clientWidth) + 'px';
                            document.getElementById('all_navigator_div').style.width = String(document.documentElement.clientWidth - 400) + 'px';
                        };};
        /* let div = document.createElement('div');
        div.id = 'footer';
        div.innerHTML = `<div id="logo_and_name">
                             <img src="/static/img/icons/footer_logo.png" alt="" height="100px" width="200px" id="footer_logo">
                             <p id="p_name"> Ничто? Нигде? Никогда?</p>
                         </div>
                         <div id="links_and_foot_p">
                             <div id="div_links">
                                 <p id="footer_p_">Ничто? Нигде? Никогда? - в соцсетях</p>
                                 <a id="vk_a_join" target="_blank" href="https://vk.com/nothingnowherenowhen">
                                     <img src="/static/img/icons/vk_link.png" alt="" id="vk_logo">
                                 </a>
                             </div>
                             <p id="footer_p">Онлайн Викторина © 2020 NothingNowhereNowhen.com</p>
                         </div>`
        document.getElementById('main').after(div);

        if ( $( document ).height() - 10 > $( window ).height())
            {
                if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                    $('#footer').offset({top: $( document ).height() - 90});
                }
                else {
                    $('#footer').offset({top: $( document ).height() - 70});
                }
            }
        else
            {
                $('#footer').offset({top: $( window ).height() - 125})
            }; */

    </script>
    <script src="/static/scripts/scriptForBase.js"></script>
    <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
               (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
               m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
               (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

               ym(62510245, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
               });
            </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/62510245" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
