<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ icon }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    <title>{{ title }}</title>
</head>
<body>
    <div id="top_menuDiv">
        <div style="overflow: hidden; background: rgb(45,45,45);">
            <div class="title_div">
                <p class="heading">Что? Где? Когда?</p>
            </div>
            <div id="all_navigator_div">
                <div class="navigator_div" id="navigator_div1">
                    <p class="navigator_p">О сайте</p>
                </div>
                <div class="navigator_div" id="navigator_div2">
                    <p class="navigator_p">Играть</p>
                </div>
                <div class="navigator_div" id="navigator_div3">
                    <p class="navigator_p">Рейтинг</p>
                </div>
                <div class="navigator_div" id="navigator_div4">
                    {% if current_user.is_authenticated %}
                        <img src="{{ current_user.avatar }}" alt="" width="40px" height="40px" class="user_avatar_navigator">
                        <p class="navigator_p">{{ current_user.nickname }}</p>
                    {% else %}
                        <a href="/login" class="navigator_p">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="top_fonLine"></div>
    </div>

    {% block content %}{% endblock %}

</body>
</html>