{% extends "base.html" %}

{% block content %}
    <div id="main_div_categories">
        <h1 class='header' id="header_categories">Выбор темы</h1>
        {% for item in categories %}
            <a href="/game/{{ item.id }}" id="playCategory">
                <div id="categories">
                    {% if item.id in img %}
                        <img id="categoriesImg" src="/static/img/categories/{{ item.id }}.png" alt="{{ item.id }}">
                    {% endif %}
                    <div id="categoriesName">{{ item.name }}</div>
                    <div id="categoriesDescription">{{ item.description }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}