{% extends "base.html" %}

{% block content %}

    <div id="main_div_championship">
        <h1 class='header' id="header_championship">Выбран чемпионат:</h1>
        <h2 style="color: rgb(200, 200, 200); text-align: center;" id="header_category">{{ championship.title }}</h2>
        <div id="links">
            <form class="login_form" method="post">
                <button type="submit" id="button_submit">
                    Начать игру
                </button>
            </form>
            <div id="login_div">
                Передумали?
                <a href="/championships" id="a_for_login">
                    Вернуться к чемпионатам
                </a>
            </div>
        </div>
    </div>
{% endblock %}