{% extends "base.html" %}

{% block content %}
    <div id="main_div_change">
        <h1 class='header' id="header_change">Выбор игры</h1>
        <a href="/categories" id="playCategory">
            <div id="categories">
                <div id="categoriesName">Викторина</div>
            </div>
        </a>
        <a href="/championships" id="playChampionships">
            <div id="championships">
                <div id="championshipsName">Чемпионат</div>
            </div>
        </a>
    </div>
{% endblock %}