{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        document.ondragstart = noselect;
        document.onselectstart = noselect;
        document.oncontextmenu = noselect;
        function noselect() {return false;}
    </script>
    <link href="https://allfont.ru/allfont.css?fonts=lcdmono-light" rel="stylesheet" type="text/css" />
    <div id="game_div">
            <div id="main_div_info">
                <h1 id="h1_quest">Вопрос №{{ current_number_quest + 1 }}</h1>
                <div id="player_icon_name">
                    <img id="player_icon" src="{{ current_user.avatar }}" width="100px" height="100px">
                    {% if current_user.nickname[9] %}
                        <p class="player_name">{{ current_user.nickname[:9] + '...' }}</p>
                    {% else %}
                        <p class="player_name">{{ current_user.nickname[:11] }}</p>
                    {% endif %}
                </div>
                <div id="opp_icon_name">
                    <img id="opponent_icon" src="{{ user.avatar }}" width="100px" height="100px">
                    {% if user.nickname[8] %}
                        <p class="player_name">{{ user.nickname[:8] + '...' }}</p>
                    {% else %}
                        <p class="player_name">{{ user.nickname[:11] }}</p>
                    {% endif %}
                </div>
                <h2 id="progress_h2">{{ win }}:{{ defeat }}</h2>
                <h2 id="category">Категория: {{ question.orm_with_category.name }}</h2>
                <div id="div_progressbar">
                    <p id="time_progressbar">0:{{ 60 - current_time }}</p>
                </div>
                <script>
                    var time = {{ 60 - current_time }};

                    function minusSec() {
                        time--;
                        if (time < 0) {
                            document.location.href = '/current_game';
                        } else {
                            if (time < 10) {
                                document.getElementById('time_progressbar').innerText = '0:0' + String(time);
                            }
                            else {
                                document.getElementById('time_progressbar').innerText = '0:' + String(time);
                            }
                        };
                    };

                    setInterval(minusSec, 1000);
                </script>
            </div>
            <script>
                if (!( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)))) {
                    $('#main_div_info').height(0);
                    $('#main_div_info').css('opacity', 0);
                };
            </script>
            <div id="main_div_questions">
                <div id="div_question">
                     {% if image_question == ' ' %}
                        <p id="question">{{ question.text }}</p>
                    {% else %}
                        <div id="div_question_text">
                            <p id="question">{{ question.text }}</p>
                        </div>
                        <div id="div_question_image_image">
                            <p class="temp_p">
                                <img src="{{ image_question }}" alt="" id="question_image">
                            </p>
                        </div>
                    {% endif %}
                </div>
                {% if type_quest == 'change' %}
                <form class="login_form" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div id="div_questions_answers">
                            <div id='div_questions_answers_up'>
                                <div class="div_questions_answer" id="div_questions_answer1">
                                    <input type="radio" name="option" value="{{ answers[0] }}" class="checkbox" id="checkbox1" onchange="changeRadioBox('checkbox1')"><div class="p_questions_answer"> {{ answers[0] }} </div>
                                </div>
                                <div class="div_questions_answer" id="div_questions_answer2">
                                    <input type="radio" name="option" value="{{ answers[1] }}" class="checkbox" id="checkbox2" onchange="changeRadioBox('checkbox2')"><div class="p_questions_answer"> {{ answers[1] }} </div>
                                </div>
                            </div>
                            <div id='div_questions_answers_down'>
                                <div class="div_questions_answer" id="div_questions_answer3">
                                    <input type="radio" name="option" value="{{ answers[2] }}" class="checkbox" id="checkbox3" onchange="changeRadioBox('checkbox3')"><div class="p_questions_answer"> {{ answers[2] }} </div>
                                </div>
                                <div class="div_questions_answer" id="div_questions_answer4">
                                    <input type="radio" name="option" value="{{ answers[3] }}" class="checkbox" id="checkbox4" onchange="changeRadioBox('checkbox4')"><div class="p_questions_answer"> {{ answers[3] }} </div>
                                </div>
                            </div>
                            <input type="submit" value="Отправить" id="b_answer_question" disabled>
                            <script>
                                document.getElementById("b_answer_question").disabled = true;
                                document.getElementById("b_answer_question").style.background = 'linear-gradient(to top, rgb(180, 180, 180), rgb(200, 200, 200))';
                                document.getElementById("b_answer_question").style.boxShadow = '0 3px 0 rgb(150, 150, 150)';
                            </script>
                        </div>
                    </div>
                </form>
                <script>
                    window.onresize = function () {
                        if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                            document.getElementById('top_menuDiv').style.width = String(document.documentElement.clientWidth) + 'px';
                            document.getElementById('all_navigator_div').style.width = String(document.documentElement.clientWidth - 400) + 'px';
                        };
                        document.getElementById('checkbox1').style.left = String(document.getElementById('div_questions_answer1').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox2').style.left = String(document.getElementById('div_questions_answer2').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox3').style.left = String(document.getElementById('div_questions_answer3').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox4').style.left = String(document.getElementById('div_questions_answer4').getBoundingClientRect().x) + 'px';
                    };
                    $( document ).ready(function() {
                        document.getElementById('checkbox1').style.left = String(document.getElementById('div_questions_answer1').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox2').style.left = String(document.getElementById('div_questions_answer2').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox3').style.left = String(document.getElementById('div_questions_answer3').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox4').style.left = String(document.getElementById('div_questions_answer4').getBoundingClientRect().x) + 'px';
                        document.getElementById('checkbox1').style.width = String($('#div_questions_answer1').width()) + 'px';
                        document.getElementById('checkbox2').style.width = String($('#div_questions_answer2').width()) + 'px';
                        document.getElementById('checkbox3').style.width = String($('#div_questions_answer3').width()) + 'px';
                        document.getElementById('checkbox4').style.width = String($('#div_questions_answer4').width()) + 'px';
                        if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                            $('#game_div').height(Math.max($('#main_div_info').height(), $('#main_div_questions').height()));
                            $('#main_div_questions').height(Math.max($('#main_div_info').height(), $('#main_div_questions').height()));
                            $('#main_div_info').height(Math.max($('#main_div_info').height(), $('#main_div_questions').height()));
                         };
                    });

                </script>
                {% elif type_quest == 'write' %}
                    <form class="login_form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div id="div_questions_answers">
                                <script>
                                    function inputAnswer() {
                                        document.getElementById("b_answer_question").disabled = false;
                                        document.getElementById("b_answer_question").style.background = 'linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0))';
                                        document.getElementById("b_answer_question").style.boxShadow = '0 3px 0 rgb(190, 0, 0)';
                                    }
                                </script>
                                <input type="text" name="option" id="input_text" autocomplete="off" oncontextmenu='return false;' oninput="inputAnswer()">
                                <input type="submit" value="Отправить" id="b_answer_question">
                                <script>
                                    document.getElementById("b_answer_question").disabled = true;
                                    document.getElementById("b_answer_question").style.background = 'linear-gradient(to top, rgb(180, 180, 180), rgb(200, 200, 200))';
                                    document.getElementById("b_answer_question").style.boxShadow = '0 3px 0 rgb(150, 150, 150)';
                                    input_text.onpaste = function(event) {
                                        return false;
                                    };
                                    $( document ).ready(function() {
                                        if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                                            $('#game_div').height(Math.max($('#main_div_info').height(), $('#main_div_questions').height()));
                                            $('#main_div_questions').height(Math.max($('#main_div_info').height(), $('#main_div_questions').height()));
                                            $('#main_div_info').height(Math.max($('#main_div_info').height(), $('#main_div_questions').height()));
                                         };
                                    });

                                </script>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <script>
                if (!( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)))) {
                    $('#main_div_questions').prepend(`<div id="div_progressbar">
                    <p id="time_progressbar1">0:{{ 60 - current_time }}</p></div>`);
                    var time1 = {{ 60 - current_time }};

                    function minusSec() {
                        time1--;
                        if (time1 < 0) {
                            document.location.href = '{{ path }}';
                        } else {
                            if (time1 < 10) {
                                    document.getElementById('time_progressbar1').innerText = '0:0' + String(time1);
                                }
                                else {
                                    document.getElementById('time_progressbar1').innerText = '0:' + String(time1);
                                }
                        };
                    };

                    setInterval(minusSec, 1000);

                };
                </script>
    </div>
    <script src="/static/scripts/scriptForCurrentGame.js"></script>
{% endblock %}