{% extends "base.html" %}

{% block content %}
    <div id="game_div">
        <p id='p_game'>Игра</p>
        {% if current_user.is_authenticated %}
            <div id="player">
                <img id="player_icon" src="/{{ current_user.avatar }}" width="40px" height="40px">
                {{ current_user.nickname }}
            </div>
        {% else %}
            <div id="player">
                <img id="player_icon" src="/static/img/users_avatars/no_photo.png" width="40px" height="40px">
                Гость
            </div>
        {% endif %}
        <div id="opponent">
            {{ user.nickname }}
            <img id="opponent_icon" src="/{{ user.avatar }}" width="40px" height="40px">
        </div>
        <p id="p_question">Вопрос:</p>
        <p id="p_time">Осталось:</p>
        <div id="div_question_text">
            <p id="p_question_text">
                {{ question.text }}
            </p>
        </div>
        <div id="div_question_time">
            <p id="p_question_time">
                {{ 60 - current_time }}
            </p>
            <script>
                    var time = {{ 60 - current_time }};

                    function minusSec() {
                        time--;
                        if (time < 0) {
                            document.getElementById('p_question_time').innerHTML = "Закончилось";
                        } else {
                            document.getElementById('p_question_time').textContent = time;
                        }
                    };

                    setInterval(minusSec, 1000);
                </script>
        </div>
        <p id="p_answers"> Варианты: </p>
        <div id="div_questions_answers">
            <div id='div_questions_answers_up'>
                <div class="div_questions_answer" id="div_questions_answer1">
                    <p class="p_questions_answer"> {{ answers[0] }} </p>
                </div>
                <div class="div_questions_answer" id="div_questions_answer2">
                    <p class="p_questions_answer"> {{ answers[1] }} </p>
                </div>
            </div>
            <div id='div_questions_answers_down'>
                <div class="div_questions_answer" id="div_questions_answer3">
                    <p class="p_questions_answer"> {{ answers[2] }} </p>
                </div>
                <div class="div_questions_answer" id="div_questions_answer4">
                    <p class="p_questions_answer"> {{ answers[3] }} </p>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/scripts/scriptForCurrentGame.js"></script>
{% endblock %}