{% extends "base.html" %}

{% block content %}
    <h1 class='header' id="header_start">Выбрана категория:</h1>
    <h3 style="color: rgb(200, 200, 200); text-align: center;">{{ category.name }}</h3>
    <div id="links">
        <h3>
           Правила
        </h3>
        <p>
            - Не читерить
        </p>

        <form class="login_form" method="post">
            <div id="change_type_and_comp">
                <div id="change_comp">
                    <div class="form-group">
                        <p>Выберите сложность</p>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="complexity" id="one" value="1" checked>
                          <label class="form-check-label" for="one">
                            1
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="complexity" id="two" value="2">
                          <label class="form-check-label" for="two">
                            2
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="complexity" id="three" value="3">
                          <label class="form-check-label" for="three">
                            3
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="complexity" id="four" value="4">
                          <label class="form-check-label" for="four">
                            4
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="complexity" id="five" value="5">
                          <label class="form-check-label" for="five">
                            5
                          </label>
                        </div>
                    </div>

                </div>
                <div id="change_type">
                    <div class="form-group">
                        <p>Выберите тип</p>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="type" id="change" value="change" checked>
                          <label class="form-check-label" for="change">
                            С вариантами
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="type" id="write" value="write">
                          <label class="form-check-label" for="write">
                            С вводом
                          </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" id="button_submit">
                Начать игру
            </button>
        </form>

        <div id="login_div">
            Передумали?
            <a href="/categories" id="a_for_login">
                Вернуться к категориям
            </a>
        </div>
    </div>
{% endblock %}