{% extends "base.html" %}

{% block content %}
    <h1>Авторизация</h1>
    <div id="login_div">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="login_label" id="login_label_top">{{ form.email.label }}</div>
            <div class="login_input_div">{{ form.email(class="login_input", type="email") }}</div>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div class="login_label">{{ form.password.label }}</div>
            <div class="login_input_div">{{ form.password(class="login_input", type="password", id="login_input_bottom") }}</div>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            <div id="login_button">{{ form.submit(type="submit", class="btn btn-primary", id='button_loginIN') }}</div>
            <div id="register_div">Еще не с нами? <a href="/register" id="a_for_register">Зарегистрироваться</a></div>
            <div id="message">{{ message }}</div>
        </form>
    </div>
{% endblock %}