{% extends "base.html" %}

{% block content %}
    <div id="main_div">
        <div id="div_info">
            <div id="div_lenta_news">
                <div class="slider">
                    <div class="slider__wrapper">
                        {% for new in news[:5] %}
                            <div class="slider__item">
                                <div id='slider__item_text'>
                                    <img src="{{ new[1] }}" alt="" class="image_news_lenta">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="slider__control slider__control_left" href="#" role="button"></a>
                    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
                </div>
                <div id="slider_text">
                    {% for new in news[:5] %}
                        <div class="inner">
                            <p class="p_news_lenta" id="slider_text_{{ loop.index - 1 }}">{{ new[2] }}</p>
                        </div>
                    {% endfor %}
                </div>
                <script>
                    $('#slider__item_text').height($('.slider').width() * 0.47 + 28);

                    $('.image_news_lenta').height($('#slider__item_text').height());
                    $('.image_news_lenta').width($('#slider__item_text').width());
                    $('#slider_text').height($('.image_news_lenta').height() + 8);
                    $('.inner').height($('#slider_text').height() / 5 + 1);
                    $('.p_news_lenta').css('line-height', String($('.inner').height() - 1) + 'px');
                </script>
            </div>
            <div id="div_news">
                <h2 id="heading_news">Новостная лента</h2>
                {% for new in news %}
                    <div class="news__item">
                        <img src="{{ new[1] }}" alt="" class="img_news" height="110px" width="220px">
                        <div class="div_text_news">
                            <p class="p_news_caption">{{ new[2] }}</p>
                            <p class="p_news">{{ new[0] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/static/scripts/scriptForMainPage.js"></script>
{% endblock %}