{% extends "base.html" %}

{% block content %}
    <div id="game_div">
        {% if current_user.is_authenticated %}
            <img id="player_icon" src="/{{ current_user.avatar }}" width="70px" height="70px">
            <div id="player_name">{{ current_user.nickname }}</div>
        {% else %}
            <img id="player_icon" src="/static/img/users_avatars/no_photo.png" width="70px" height="70px">
            <div id="player_name">Гость</div>
        {% endif %}
        <img id="opponent_icon" src="/{{ user.avatar }}" width="70px" height="70px">
        <div id="opponent_name">{{ user.nickname }}</div>
        <h1 id="header_quest">Вопрос</h1>
        <div id="div_progressbar">
            <progress id="progressbar" value="{{ 60 - current_time }}" max="60">20</progress>
        </div>
        <div id="progress">{{ win }}:{{ defeat }}</div>
        <div id="question">{{ question.text }}</div>
        {% if result == 'Вы ответили правильно' %}
            <div id="result" style="color: green; border: 3px solid green;">{{ result }}</div>
        {% else %}
            <div id="result" style="color: red; border: 3px solid red;">{{ result }}</div>
        {% endif %}
        {% if question.comment != "" %}
            <h2>Комментарий</h2>
            <div id="comment">
                {{ question.comment }}
            </div>
        {% endif %}
        <form class="login_form" method="post" enctype="multipart/form-data">
            <div id="button">
                <input type="submit" value="Далее" id="b_answer_question">
            </div>
        </form>
        <script src="/static/scripts/scriptForCurrentGame.js"></script>
    </div>
{% endblock %}