{% extends "base.html" %}

{% block content %}
    <div id="game_div">
        {% if current_user.is_authenticated %}
            <img id="player_icon" src="/{{ current_user.avatar }}" width="70px" height="70px">
            <div id="player_name">{{ current_user.nickname }}</div>
        {% else %}
            <img id="player_icon" src="/static/img/users_avatars/no_photo.png" width="40px" height="40px">
            <div id="player_name">Гость</div>
        {% endif %}
        <img id="opponent_icon" src="/{{ user.avatar }}" width="70px" height="70px">
        <div id="opponent_name">{{ user.nickname }}</div>
        <h1>Вопрос</h1>
        <div id="question">{{ question.text }}</div>
        <div id="result">{{ result }}</div>
        <form class="login_form" method="post" enctype="multipart/form-data">
            <div id="button">
                <input type="submit" value="Далее" id="b_answer_question">
            </div>
        </form>
    </div>
    <script src="/static/scripts/scriptForCurrentGame.js"></script>
{% endblock %}