{% extends "base.html" %}

{% block content %}
    <div id="div_rating">
        <h2 id="header_rating">
            Рейтинг
            <hr class="hr_news_lenta">
        </h2>
        <table id="rating_div">
            <tr class="user_div">
                <th class="first_td_left" >Место</th>
                <th>Ник</th>
                <th>Процент побед</th>
                <th>Рейтинг</th>
            </tr>
            {% for user in users[:50] %}

            <tr class="user_div" onclick="toUser('{{ user.id }}')">
                <td class="first_td_left">{{ loop.index }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.get_procent_win() }}%</td>
                <td>{{ user.rating }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <script src="/static/scripts/scriptForRating.js"></script>
{% endblock %}