{% extends "base.html" %}

{% block content %}
    <div id="main_div_user_info">
        <div id="user_avatar_and_root">
            <div id="user_avatar">
                <img src="{{ user.avatar }}" alt="" id="user_avatar_img">
            </div>
            {% if current_user.id == user.id %}
                <form method="post" action="/edit_avatar/{{ current_user.id }}" enctype="multipart/form-data" id="form_edit_avatar" style="display: none;">
                    <input type="file" name="edit_avatar" id="edit_avatar_input" onchange="editUserAvatar()">
                </form>
                <script>
                    $('#user_avatar_img').on('click', function () {
                        $('#edit_avatar_input').trigger('click');
                    });

                    $('#edit_avatar_input').on('change', function () {
                        $('#form_edit_avatar').trigger('submit');
                    });
                </script>
                <div id="user_root">
                    <div id="allLinks">
                        <a id="addQuestionLink" href="/add_question">
                            <div id="addQuestion">Создать вопрос</div>
                        </a>
                        {% if current_user.state == 'admin' %}
                            <a id="adminLink" href="/adminka">
                                <div id="admin">Админка</div>
                            </a>
                        {% endif %}
                        <a id="logoutLink" href="/logout">
                            <div id="logout">Выйти</div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div id="div_user_games_and_info">
            <div id="user_info">
                <div id="user_info_p_name">{{ user.surname }} <div id="nickname">"{{ user.nickname }}"</div> {{ user.name}}</div>
                <hr class="top_line_user_info">
                <p id="user_info_p_rating"><strong>Рейтинг:</strong>  {{ user.rating }}</p>
                <p id="user_info_p_email" onclick="copyToClipboard()"><strong>Почта:</strong> {{ user.email }}</p>
                <p id="user_info_p_vk"><strong>ВК:</strong> <a href="{{ user.link_vk }}" id="a_vk" target="_blank">{{ user.link_vk }}</a></p>
                <hr class="top_line_user_info">
                <div id="statistic_user">
                    <p id="p_statistic">Статистика</p>
                    <script src="/static/scripts/scriptForUserInfo.js"></script>
                    <div id="wins_cont">
                        <p class="p_windef">Побед</p>
                        <div class="container" ><p style="position: relative; z-index:1;" class="p_procent">{{ procent_win }}%</p></div>
                    </div>
                    <div id="defeats_cont">
                        <p class="p_windef">Поражений</p>
                        <div class="container1" ><p style="position: relative; z-index:1;" class="p_procent">{{ procent_def }}%</p></div>
                    </div>
                    <script>
                        showDiagramm1({{ procent_win }}, {{ procent_def }});
                        showDiagramm({{ procent_win }}, {{ procent_def }})
                    </script>
                </div>
            </div>
            <div id="div_user_games">
                <p id="p_games">Игры</p>
                    <table id="table_games">
                        <tr>
                            <th id="header_table_number">№</th>
                            <th id="header_table_category">Категория</th>
                            <th id="header_table_result">Результат</th>
                            <th id="header_table_date">Дата</th>
                        </tr>
                        {% for game in games %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ game.orm_with_category.name }}</td>
                                {% if game.result == '1' %}
                                    <td>Выиграно</td>
                                {% else %}
                                    <td>Проиграно</td>
                                {% endif %}
                                <td>{{ game.get_date() }}</td>
                            </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </div>
    {% if current_user.id != user.id %}
        <script>
          $(document).ready(function() {
                if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                    $('#main_div_user_info').height( $('#div_user_games_and_info').height() + 40);
                }
                else {
                    $('#user_avatar_and_root').height( 320 );
                }
            });
        </script>
    {% else %}
        <script>
          $(document).ready(function() {
                if ( $( window ).width() > 980 | !(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                    $('#main_div_user_info').height( $('#div_user_games_and_info').height() + 40);
                }
                else {
                    $('#user_avatar_and_root').height( 320 );
                }
            });
        </script>
    {% endif %}

{% endblock %}