#div_user_games::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px;
}

#div_user_games::-webkit-scrollbar-track {
    background: #32312e;
    box-shadow:0px 0px 3px #000 inset;
    border-radius: 15px;
}

#div_user_games::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
    box-shadow:0px 1px 1px #fff inset;
    background-position:center;
    background-repeat:no-repeat;
    border-radius: 15px;
}

#div_user_games::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px;
    border-radius: 15px;
}

#div_user_games::-webkit-scrollbar{
    width: 15px;
    border-radius: 15px;
    padding: 100px;
}