#a_for_register {
    text-decoration: none;
    color: red;
}

#message {
    text-align: center;
}

#header_login {
   margin-bottom: 18px;
   margin-top: 101px;
}

.login_label {
    background-color: #FDB913;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid gray;
    color: rgb(16, 16, 16);
    font-weight: bold;
}

.login_input {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 100%;
    border-radius: 1px;
    margin: 0 auto;
}

#login_label_top {
    border-radius: 10px 10px 0 0;
}

#login_input_bottom {
    border-radius: 0 0 10px 10px;
}