#main_div_game {
    width: 75%;
    background: linear-gradient(to top, rgb(30, 30, 30), rgb(70, 70, 70));
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    border: 4px outset black;
    height: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
}

#content {
    margin-top: 80px;
}

#links {
    width: 100%;
    margin: auto;
    font-size: 20px;
    color: rgb(200, 200, 200);
    text-align: center;
}

#login_div {
    margin-top: 10px;
    text-align: center;
}

#change_type_and_comp {
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

#change_comp {
    width: 50%;
    float: left;
    overflow: hidden;
}

#change_type {
    width: 50%;
    float: left;
    overflow: hidden;
}

