#button_registerIN:active {
    background-color: rgb(190, 0, 0);
}

#register_button {
    margin-top: 15px;
    text-align: center;
    width: 40%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    margin: auto;
}

#button_submit {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    color: white;
    background: linear-gradient(to top, rgb(200, 50, 50), rgb(255, 0, 0));
    border: none;
    box-shadow: 0 3px 0 rgb(190, 0, 0);
    outline: none;
    text-align: center;
}

#button_submit:hover {
    background: linear-gradient(to top, rgb(250, 50, 50), rgb(255, 0, 0));
}