{% extends "base.html" %}

{% block content %}
    <div id="main_div_admin_quests">
        <h1 id="header_admin_quests">База вопросов</h1>
        <div id="div_admin_quests">
            <div id="div_input_search">
                <input type="search" placeholder="Начните вводить текст вопроса" value="" oninput="editQuest()" id="div_admin_quests_search">
            </div>
            <div class="div_select_admin_quests">
                <select name="select_category" id="select_category" onchange="editQuest()">
                    <option value="1">
                        Все категории
                    </option>
                {% for category in categories %}
                    <option value="{{ category.name }}">
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            </div>
            <div class="div_select_admin_quests">
                <select name="select_comp" id="select_comp" onchange="editQuest()">
                <option value="0">
                    Все сложности
                </option>
                <option value="1">
                    Новичок
                </option>
                <option value="2">
                    Любитель
                </option>
                <option value="3">
                    Профи
                </option>
            </select>
            </div>

        </div>

        <div class="div_question_edit_title" id="div_question_edit_title_quest">
            <p class="h2_text_quest_id">ID</p>
            <p class="h2_text_quest_text">ТЕКСТ</p>
            <p class="h2_text_quest_category">КАТЕГОРИЯ</p>
        </div>

        <script>
        function putQuest(id_) {
            var form = document.getElementById('form_' + String(id_));

            let response = fetch('/check_edit_or_show_quest/' + String(id_), {
              method: 'PUT',
              body: new FormData(form)
            });

            document.getElementById('p_text_quest_text_' + String(id_)).innerHTML = $('#text_' + String(id_)).val();
        };

        function deleteQuest(id_) {
            var form = document.getElementById('form_' + String(id_));

            let response = fetch('/check_edit_or_show_quest/' + String(id_), {
              method: 'DELETE',
              body: new FormData(form)
            });

            $('#div_question_edit_' + String(id_)).detach();
            $('#div_question_edit_redactor_' + String(id_)).detach();
        };

        function showRedactor(id_) {
            if ($('#div_question_edit_redactor_' + String(id_)).is(":visible")) {
                $('#div_question_edit_redactor_' + String(id_)).hide();
            }
            else {
                $('#div_question_edit_redactor_' + String(id_)).show();
            }
        }

        function clickToQuest(id_) {
            document.getElementById('div_question_edit_redactor_' + id_).style.display='block';
            document.body.style.overflowY = 'hidden';
            document.body.style.marginRight = '15px';
        };

        function editQuest() {
            fetch('/check_edit_or_show_quest/1')
            .then((response) => {
                return response.json();
            })
            .then((myjson) => {

                $('.div_question_edit').detach();

                myjson['questions'].forEach(function(item, i, arr) {
                  if (((item['category'] == $('#select_category').val()) | ($('#select_category').val() == 1)) &
                     (item['text'].indexOf($('#div_admin_quests_search').val()) != -1 ) &
                     ((item['complexity'] == $('#select_comp').val()) | ($('#select_comp').val() == 0))) {
                    $(`<div class="div_question_edit" id='div_question_edit_` + String(item["id"]) + `' onclick="clickToQuest('` + String(item["id"])  + `')">
                                <p class="p_text_quest_id" id="p_text_quest_id_` + String(item["id"]) + `">` + item["id"] + `</p>
                                <p class="p_text_quest_text" id="p_text_quest_text_` + String(item["id"]) + `">` + item["text"].slice(0, 37) + `</p>
                                <p class="p_text_quest_category" id="p_text_quest_category_` + String(item["id"]) + `">` + item["category"] + `</p>
                            </div>`).insertBefore($("#div_question_edit_redactor_" + String(item["id"])));
                  };
                });

            });
        };
    </script>

        <div id="div_admin_quests_show">
            {% for quest in quests %}
                <div class="div_question_edit" id='div_question_edit_{{ quest["id"] }}'>
                    <p class="p_text_quest_id" id="p_text_quest_id_{{ quest['id'] }}">{{ quest['id'] }}</p>
                    {% if quest['text'][37] %}
                        <p class="p_text_quest_text" id="p_text_quest_text_{{ quest['id'] }}">{{ quest['text'][:37] }}...</p>
                    {% else %}
                        <p class="p_text_quest_text" id="p_text_quest_text_{{ quest['id'] }}">{{ quest['text'][:37] }}</p>
                    {% endif %}
                    <p class="p_text_quest_category" id="p_text_quest_category_{{ quest['id'] }}">{{ quest['category'] }}</p>
                </div>

                <script>
                    $('#div_question_edit_{{ quest["id"] }}').on('click', function () {
                        document.getElementById('div_question_edit_redactor_{{ quest["id"] }}').style.display='block';
                        document.body.style.overflowY = 'hidden';
                        document.body.style.marginRight = '15px';
                    });

                </script>

                <div id="div_question_edit_redactor_{{ quest['id'] }}" class="modal div_question_edit_redactor" style="overflow-y: scroll; overflow-x: hidden; height: 100vh; display: none;">

                    <form class="modal-content animate" action="/login" method="post" id="form_{{ quest['id'] }}" style="height: auto;" enctype="multipart/form-data">
                        <div class='div_quests_edit_redactor' id='div_quests_edit_redactor_{{ quest["id"] }}'>

                           <div class="container_cancel">
                                <button type="button" class="cancelbtn" id="cancelbtn_{{ quest['id'] }}">X</button>
                           </div>

                            <script>
                                $('#cancelbtn_{{ quest['id'] }}').on('click', function () {
                                    document.getElementById('div_question_edit_redactor_{{ quest["id"] }}').style.display='none';
                                    document.body.style.overflowY = 'scroll';
                                    document.body.style.marginRight = '0px';
                                });
                            </script>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="text_{{ quest['id'] }}" class="label_question_edit_redactor">Текст вопроса</label>
                            </div>
                            <textarea name="text_{{ quest['id'] }}" id="text_{{ quest['id'] }}">{{ quest['text'] }}</textarea>
                        </div>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="comment_{{ quest['id'] }}" class="label_question_edit_redactor">Комментарий к вопросу</label>
                            </div>
                            <textarea name="comment_{{ quest['id'] }}" id="comment_{{ quest['id'] }}">{{ quest['comment'] }}
                            </textarea>
                        </div>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="answer_{{ quest['id'] }}" class="label_question_edit_redactor">Правильный ответ</label>
                            </div>

                            <textarea name="answer_{{ quest['id'] }}" id="answer_{{ quest['id'] }}">{{ quest['answer'] }}
                            </textarea>
                        </div>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="wrong_answer1_{{ quest['id'] }}" class="label_question_edit_redactor">Неправильные ответы</label>
                            </div>

                            <textarea name="wrong_answer1_{{ quest['id'] }}" id="wrong_answer1_{{ quest['id'] }}">{{ quest['wrong_answer1'] }}
                            </textarea>
                        </div>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="wrong_answer2_{{ quest['id'] }}" class="label_question_edit_redactor"></label>
                            </div>

                            <textarea name="wrong_answer2_{{ quest['id'] }}" id="wrong_answer2_{{ quest['id'] }}" style="margin-top: 0px;">{{ quest['wrong_answer2'] }}
                            </textarea>
                        </div>

                        <div class="form_question_edit_redactor">
                            <label for="wrong_answer3_{{ quest['id'] }}" class="label_question_edit_redactor"></label>
                            <textarea name="wrong_answer3_{{ quest['id'] }}" id="wrong_answer3_{{ quest['id'] }}" style="margin-top: 0px;">{{ quest['wrong_answer3'] }}
                            </textarea>
                        </div>

                        <div class="form_question_edit_redactor">
                            <div>
                                 <label for="wrong_answer2_{{ quest['id'] }}" class="label_question_edit_redactor"> Категория </label>
                            </div>

                            <select name="select_category_question_edit_redactor_{{ quest['id'] }}" id="select_category_question_edit_redactor_{{ quest['id'] }}">
                                {% for category in categories %}
                                    <option value="{{ category.name }}">
                                        {{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <script>
                            $('#select_category_question_edit_redactor_{{ quest['id'] }} option:contains("{{ quest['category'] }}")').prop('selected', true);
                        </script>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="wrong_answer2_{{ quest['id'] }}" class="label_question_edit_redactor"> Тип </label>
                            </div>

                            <select name="select_type_question_edit_redactor_{{ quest['id'] }}" id="select_type_question_edit_redactor_{{ quest['id'] }}">
                                <option value="change">
                                    С вариантами
                                </option>
                                <option value="write">
                                    С вводом
                                </option>
                                <option value="all">
                                     И так и так
                                </option>
                            </select>
                        </div>
                        <script>
                            $('#select_type_question_edit_redactor_{{ quest['id'] }} option:contains("{{ quest['type'] }}")').prop('selected', true);
                        </script>

                        <div class="form_question_edit_redactor">
                            <div>
                                <label for="wrong_answer2_{{ quest['id'] }}" class="label_question_edit_redactor">Сложность</label>
                            </div>

                            <select name="select_comp_question_edit_redactor_{{ quest['id'] }}" id="select_comp_question_edit_redactor_{{ quest['id'] }}">
                                <option value="1">
                                    Новичок
                                </option>
                                <option value="2">
                                    Любитель
                                </option>
                                <option value="3">
                                    Профи
                                </option>
                            </select>
                        </div>
                        <script>
                            $('#select_comp_question_edit_redactor_{{ quest['id'] }} option:contains("{{ quest['comp'] }}")').prop('selected', true);
                        </script>


                        <div class="form_question_edit_redactor">
                            <div>
                                <label class="label_question_edit_redactor" for="image_{{ quest['id']}}" id="label_image_{{ quest['id']}}">Аватар</label>
                            </div>
                                <input type="file" class="form_questions_edit_redactor_image" name='image_{{ quest["id"]}}' id="image_{{ quest['id']}}" accept="image/*">
                                <input type="hidden" value="yes_image" id="hidden_image_{{ quest['id']}}" name="hidden_image_{{ quest['id']}}">
                            <div>
                                <img src="{{ quest['images'] }}" alt="У этого вопроса нет фото" id="image_quest_{{ quest['id'] }}" class="image_quest_form" style="width: 200px; height: 250px; cursor: pointer;">
                            </div>

                            <div id="delete_image_quest_{{ quest['id'] }}" style="width: 25%; background: red; display: none; margin: auto; font-size: 27px; height: 50px; cursor: pointer; line-height: 50px;">
                                Удалить фото
                            </div>

                            <script>
                                $("#delete_image_quest_{{ quest['id'] }}").on('click', function () {
                                    $('#image_{{ quest["id"]}}').val();
                                    $('#hidden_image_{{ quest["id"]}}').val('no_image');
                                    $('#image_quest_{{ quest["id"] }}').attr('src', '');
                                    document.getElementById('delete_image_quest_{{ quest["id"] }}').style.display='none';
                                });

                                $('#image_quest_{{ quest["id"] }}').on('click', function () {
                                    $('#label_image_{{ quest["id"] }}').trigger('click');

                                });

                                $('#image_{{ quest["id"]}}').on('change', function () {
                                    document.getElementById('delete_image_quest_{{ quest["id"] }}').style.display='block';
                                });
                            </script>
                        </div>

                        <script>
                            $('#image_{{ quest['id']}}').change(function () {
                                var input = $(this)[0];
                                if (input.files && input.files[0]) {
                                    if (input.files[0].type.match('image.*')) {
                                        var reader = new FileReader();
                                        reader.onload = function (e) {
                                            $('#image_quest_{{ quest['id'] }}').attr('src', e.target.result);
                                        }
                                        reader.readAsDataURL(input.files[0]);
                                    } else {
                                        console.log('ошибка, не изображение');
                                    }
                                } else {
                                    console.log('хьюстон у нас проблема');
                                }
                            });
                        </script>
                        </div>
                        <button type='button' onclick="putQuest({{ quest['id'] }})">Сохранить изменения</button>
                        <button type='button' onclick="deleteQuest({{ quest['id'] }})">Удалить</button>
                    </form>

                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
