<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Викторина</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table border="1" cellpadding="0" cellspacing="0" width="100%" style="margin:0; padding:0;" bgcolor="white">
        <tr>
            <th height="75px" id="th2_title" bgcolor="black" width="60%" style="color:white; font-size: 30px;">Ничто? Нигде? Никогда?</th>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h3>Здравствуй, Уважаемый</h3>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h5 style="margin: 0; padding:0; text-align: right; width: 100%;">Посетите наш сайт <a href="nothing-nowhere-nowhen.ru">nothing-nowhere-nowhen.ru</a></h5>
                <h5 style="margin: 0; padding:0; text-align: right; width: 100%;">С уважением, Администрация сайта.</h5>
            </td>
        </tr>
    </table>
</body>
</html>